Repository CosmosContracts/juno: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, golangci-lint, markdown-lint

.pre-commit-config.yaml:

# Install:
# - pip install pre-commit && pre-commit install
#
# VSCode Extension:
# - ext install MarkLarah.pre-commit-vscode
#
# On new hooks added here:
# - pre-commit run --all-files

repos:
- repo: local  
  hooks:    
    - id: go-mod-tidy
      name: "go mod tidy"
      files: go.*
      entry: ./scripts/git/tidy.sh
      language: "script"

    - id: golangci-lint
      name: "lint"
      files: .*go
      entry: ./scripts/git/linter.sh
      require_serial: true
      language: "script"

    - id: markdown-lint
      name: "markdown linter"
      files: .*md
      entry: ./scripts/git/markdown_lint.sh
      require_serial: true
      language: "script"

update to ibc v8
  app/ante.go
  app/decorators/msg_filter.go
  app/keepers/keepers.go
  app/keepers/keys.go
  app/modules.go
  app/upgrades/testnet/v23.0.0-alpha.1/constants.go
  app/upgrades/v10/constants.go
  app/upgrades/v10/upgrades.go
  app/upgrades/v11/constants.go
  app/upgrades/v11/upgrades.go
  app/upgrades/v13/constants.go
  app/upgrades/v13/upgrades.go
  app/upgrades/v16/constants.go
  app/upgrades/v16/upgrades.go
  app/upgrades/v23/upgrades.go
  cmd/junod/cmd/genica.go
  go.mod
  interchaintest/ibc_transfer_test.go
  interchaintest/module_pfm_test.go
  interchaintest/setup.go
  osmoutils/ibc.go
Due: go-mod-tidy, golangci-lint, markdown-lint

remove POB
  app/ante.go
  app/app.go
  app/keepers/keepers.go
  app/keepers/keys.go
  app/modules.go
  app/upgrades/v16/upgrades.go
Due: go-mod-tidy, golangci-lint

additional POB remove
  app/upgrades/v16/constants.go
Due: go-mod-tidy, golangci-lint

replaced capability keeper import & fixed typos
  app/app.go
  app/keepers/keepers.go
  app/keepers/keys.go
  app/modules.go
  go.mod
  go.sum
Due: go-mod-tidy, golangci-lint

updated basic manager setup
  app/app.go
  app/modules.go
  app/test_helpers.go
  cmd/junod/cmd/root.go
  go.mod
  go.sum
  interchaintest/go.mod
  interchaintest/go.sum
  scripts/README.md
  scripts/hermes/cw20/README.md
  scripts/test_node.sh
  x/feeshare/integration_test.go
Due: go-mod-tidy, golangci-lint, markdown-lint

updated basic manager setup
  app/modules.go
Due: go-mod-tidy, golangci-lint

updated ante
  app/ante.go
Due: go-mod-tidy, golangci-lint

replace logger
  Dockerfile
  app/app.go
  app/apptesting/test_suite.go
  app/sim_test.go
  app/test_helpers.go
  app/upgrades/v17/upgrades.go
  cmd/junod/cmd/root.go
  readme.md
  x/clock/abci.go
  x/clock/keeper/keeper.go
  x/cw-hooks/keeper/keeper.go
  x/feepay/keeper/keeper.go
  x/feeshare/integration_test.go
  x/feeshare/keeper/keeper.go
  x/globalfee/genesis_test.go
  x/mint/keeper/keeper.go
  x/tokenfactory/keeper/keeper.go
Due: go-mod-tidy, golangci-lint, markdown-lint

partially fixed keeper setup
  app/keepers/acceptedQueries.go
  app/keepers/keepers.go
  cmd/junod/cmd/balances_from_state_export.go
Due: go-mod-tidy, golangci-lint, markdown-lint

updated cmd
  cmd/junod/cmd/commands.go
  cmd/junod/cmd/root.go
  cmd/junod/main.go
  go.mod
  go.sum
Due: go-mod-tidy, golangci-lint, markdown-lint

fix in cosmwasm.go
  interchaintest/conformance/cosmwasm.go
Due: go-mod-tidy, golangci-lint

updated app.go
  app/app.go
  app/keepers/keepers.go
  app/keepers/keys.go
  app/modules.go
  cmd/junod/cmd/commands.go
  cmd/junod/cmd/root.go
Due: go-mod-tidy, golangci-lint, markdown-lint

fix up remaining cmd
  app/app.go
  cmd/junod/cmd/root.go
  cmd/junod/main.go
  go.mod
  go.sum
Due: go-mod-tidy, golangci-lint, markdown-lint

modernized buf setup
  app/app.go
  app/openapiconsole/console.go
  app/openapiconsole/index.tpl
  buf.gen.yaml
  docs/docs.go
  docs/static/openapi.yml
  docs/swagger.yaml
  proto/buf.gen.doc.yaml
  proto/buf.gen.pulsar.yaml
  proto/buf.gen.swagger.yaml
  proto/buf.yaml
  scripts/merge_protoc.py
  scripts/protoc_swagger_openapi_gen.sh
Due: go-mod-tidy, golangci-lint

cleaned up protogen make file
  Makefile
Due: none

updated buf config + fixed swagger gen
  .gitignore
  Makefile
  docs/docs.go
  docs/static/favicon-16x16.png
  docs/static/favicon-32x32.png
  docs/static/index.html
  docs/static/oauth2-redirect.html
  docs/static/swagger-ui-bundle.js
  docs/static/swagger-ui-es-bundle-core.js
  docs/static/swagger-ui-es-bundle.js
  docs/static/swagger-ui-standalone-preset.js
  docs/static/swagger-ui.css
  docs/static/swagger-ui.js
  docs/static/swagger.yaml
  scripts/protoc/merge_protoc.py
  scripts/protoc/protoc-swagger-gen.sh
  scripts/protoc/protocgen.sh
  scripts/protoc/protocgen2.sh
Due: go-mod-tidy, golangci-lint

fixed up most of app wiring
  app/app.go
  app/apptesting/events.go
  app/apptesting/test_suite.go
  app/decorators/change_rate_decorator.go
  app/decorators/change_rate_decorator_test.go
  app/encoding.go
  app/export.go
  app/genesis.go
  app/modules.go
  app/params/const.go
  app/params/encoding.go
  app/params/proto.go
  app/params/weights.go
  app/sim_test.go
  app/test_helpers.go
  cmd/junod/cmd/balances_from_state_export.go
  x/mint/simulation/decoder_test.go
Due: go-mod-tidy, golangci-lint, markdown-lint

commented out previous migrations
  x/mint/migrations/v2/migrate.go
  x/mint/migrations/v3/migrate.go
  x/mint/migrations/v3/migrator_test.go
Due: go-mod-tidy, golangci-lint

fix typo cosmwasm.go
  interchaintest/conformance/cosmwasm.go
Due: go-mod-tidy, golangci-lint

fix typos openapi.yml
  docs/static/openapi.yml
Due: none

fix typos swagger.yaml
  docs/swagger.yaml
Due: none

update clock protos
  proto/Dockerfile
  proto/buf.gen.gogo.yaml
  proto/buf.lock
  proto/buf.yaml
  proto/juno/clock/v1/clock.proto
  proto/juno/clock/v1/genesis.proto
  proto/juno/clock/v1/query.proto
  proto/juno/clock/v1/tx.proto
  scripts/protoc/protocgen.sh
Due: go-mod-tidy, golangci-lint

update cwhooks protos
  proto/juno/cwhooks/v1/genesis.proto
  proto/juno/cwhooks/v1/query.proto
  proto/juno/cwhooks/v1/tx.proto
  x/clock/types/query.pb.go
  x/clock/types/tx.pb.go
  x/cw-hooks/types/query.pb.go
  x/cw-hooks/types/tx.pb.go
  x/drip/types/query.pb.go
  x/drip/types/tx.pb.go
  x/feepay/types/query.pb.go
  x/feepay/types/tx.pb.go
  x/feeshare/types/query.pb.go
  x/feeshare/types/tx.pb.go
  x/globalfee/types/query.pb.go
  x/globalfee/types/tx.pb.go
  x/mint/types/query.pb.go
  x/mint/types/tx.pb.go
  x/tokenfactory/types/query.pb.go
  x/tokenfactory/types/tx.pb.go
Due: go-mod-tidy, golangci-lint

update drip protos
  proto/juno/drip/v1/genesis.proto
  proto/juno/drip/v1/query.proto
  proto/juno/drip/v1/tx.proto
Due: none

updated feepay protos & minor fixes
  proto/juno/clock/v1/tx.proto
  proto/juno/cwhooks/v1/tx.proto
  proto/juno/drip/v1/genesis.proto
  proto/juno/drip/v1/tx.proto
  proto/juno/feepay/v1/feepay.proto
  proto/juno/feepay/v1/genesis.proto
  proto/juno/feepay/v1/query.proto
  proto/juno/feepay/v1/tx.proto
Due: none

minor formatting adjustments
  proto/juno/clock/v1/clock.proto
  proto/juno/clock/v1/genesis.proto
  proto/juno/clock/v1/query.proto
  proto/juno/clock/v1/tx.proto
  proto/juno/cwhooks/v1/query.proto
  proto/juno/cwhooks/v1/tx.proto
  proto/juno/drip/v1/query.proto
  proto/juno/drip/v1/tx.proto
Due: none

updated feeshare protos & fixed other tx protos
  proto/juno/clock/v1/tx.proto
  proto/juno/feepay/v1/query.proto
  proto/juno/feepay/v1/tx.proto
  proto/juno/feeshare/v1/feeshare.proto
  proto/juno/feeshare/v1/genesis.proto
  proto/juno/feeshare/v1/query.proto
  proto/juno/feeshare/v1/tx.proto
Due: none

updated mint protos
  proto/juno/mint/genesis.proto
  proto/juno/mint/mint.proto
  proto/juno/mint/query.proto
  proto/juno/mint/tx.proto
Due: none

updated tokenfactory protos
  proto/juno/drip/v1/genesis.proto
  proto/osmosis/tokenfactory/v1beta1/authority_metadata.proto
  proto/osmosis/tokenfactory/v1beta1/genesis.proto
  proto/osmosis/tokenfactory/v1beta1/params.proto
  proto/osmosis/tokenfactory/v1beta1/query.proto
  proto/osmosis/tokenfactory/v1beta1/tx.proto
Due: none

updated globalfee protos
  proto/gaia/globalfee/v1beta1/genesis.proto
  proto/gaia/globalfee/v1beta1/query.proto
  proto/gaia/globalfee/v1beta1/tx.proto
Due: none

regenerated pb.go files
  x/clock/types/clock.pb.go
  x/clock/types/genesis.pb.go
  x/clock/types/query.pb.go
  x/clock/types/query.pb.gw.go
  x/clock/types/tx.pb.go
  x/cw-hooks/types/genesis.pb.go
  x/cw-hooks/types/query.pb.go
  x/cw-hooks/types/tx.pb.go
  x/drip/types/genesis.pb.go
  x/drip/types/query.pb.go
  x/drip/types/tx.pb.go
  x/feepay/types/feepay.pb.go
  x/feepay/types/genesis.pb.go
  x/feepay/types/query.pb.go
  x/feepay/types/query.pb.gw.go
  x/feepay/types/tx.pb.go
  x/feeshare/types/feeshare.pb.go
  x/feeshare/types/genesis.pb.go
  x/feeshare/types/query.pb.go
  x/feeshare/types/tx.pb.go
  x/globalfee/types/genesis.pb.go
  x/globalfee/types/query.pb.go
  x/globalfee/types/tx.pb.go
  x/mint/types/genesis.pb.go
  x/mint/types/mint.pb.go
  x/mint/types/query.pb.go
  x/mint/types/tx.pb.go
  x/tokenfactory/types/authority_metadata.pb.go
  x/tokenfactory/types/genesis.pb.go
  x/tokenfactory/types/params.pb.go
  x/tokenfactory/types/query.pb.go
  x/tokenfactory/types/tx.pb.go
Due: go-mod-tidy, golangci-lint

push for clean workspace
  x/mint/client/cli/query.go
  x/mint/client/testutil/suite.go
  x/mint/exported/exported.go
  x/mint/keeper/genesis.go
  x/mint/keeper/grpc_query.go
  x/mint/keeper/grpc_query_test.go
  x/mint/keeper/keeper.go
  x/mint/keeper/migrator.go
  x/mint/keeper/msg_server.go
  x/mint/module/abci.go
  x/mint/module/module.go
  x/mint/module/module_test.go
  x/mint/simulation/genesis.go
  x/mint/simulation/genesis_test.go
  x/mint/simulation/proposals.go
  x/mint/simulation/proposals_test.go
  x/mint/spec/02_state.md
  x/mint/spec/03_begin_block.md
  x/mint/testutil/app_config.go
  x/mint/testutil/expected_keepers_mocks.go
  x/mint/types/codec.go
  x/mint/types/events.go
  x/mint/types/expected_keepers.go
  x/mint/types/keys.go
  x/mint/types/minter.go
  x/mint/types/minter_test.go
  x/mint/types/msgs.go
  x/mint/types/params.go
  x/mint/types/params_legacy.go
Due: go-mod-tidy, golangci-lint, markdown-lint

created v27 upgrade handler
  app/upgrades/types.go
  app/upgrades/v27/constants.go
  app/upgrades/v27/upgrades.go
Due: go-mod-tidy, golangci-lint

cleaned up app.go
  app/app.go
Due: go-mod-tidy, golangci-lint

started converting mint module
  x/mint/keeper/genesis_test.go
  x/mint/keeper/grpc_query.go
  x/mint/keeper/grpc_query_test.go
  x/mint/keeper/msg_server.go
  x/mint/keeper/querier.go
  x/mint/keeper/querier_test.go
  x/mint/module/abci.go
Due: go-mod-tidy, golangci-lint

temporarily remove tokenfactory tests
  app/keepers/keepers.go
  cmd/junod/cmd/commands.go
  x/mint/keeper/msg_server.go
  x/tokenfactory/exported/exported.go
  x/tokenfactory/keeper/admins_test.go
  x/tokenfactory/keeper/createdenom_test.go
  x/tokenfactory/keeper/genesis_test.go
  x/tokenfactory/keeper/keeper_test.go
  x/tokenfactory/keeper/migrator.go
  x/tokenfactory/keeper/msg_server_test.go
  x/tokenfactory/migrations/v2/migrate.go
  x/tokenfactory/migrations/v2/migrate_test.go
  x/tokenfactory/module.go
Due: go-mod-tidy, golangci-lint, markdown-lint

added module protos and regenerated protos
  api/gaia/globalfee/module/v1/module.pulsar.go
  api/juno/clock/module/v1/module.pulsar.go
  api/juno/cwhooks/module/v1/module.pulsar.go
  api/juno/drip/module/v1/module.pulsar.go
  api/juno/feepay/module/v1/module.pulsar.go
  api/juno/feeshare/module/v1/module.pulsar.go
  api/juno/mint/module/v1/module.pulsar.go
  api/osmosis/tokenfactory/module/v1/module.pulsar.go
  app/modules.go
  gaia/globalfee/module/v1/module.pb.go
  go.mod
  juno/clock/module/v1/module.pb.go
  juno/cwhooks/module/v1/module.pb.go
  juno/drip/module/v1/module.pb.go
  juno/feepay/module/v1/module.pb.go
  juno/feeshare/module/v1/module.pb.go
  juno/mint/module/v1/module.pb.go
  osmosis/tokenfactory/module/v1/module.pb.go
  proto/gaia/globalfee/module/v1/module.proto
  proto/juno/clock/module/v1/module.proto
  proto/juno/cwhooks/module/v1/module.proto
  proto/juno/drip/module/v1/module.proto
  proto/juno/feepay/module/v1/module.proto
  proto/juno/feeshare/module/v1/module.proto
  proto/juno/mint/module/v1/module.proto
  proto/osmosis/tokenfactory/module/v1/module.proto
  x/mint/keeper/genesis_test.go
Due: go-mod-tidy, golangci-lint
