Repository CosmosContracts/juno: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, golangci-lint, markdown-lint

.pre-commit-config.yaml:

# Install:
# - pip install pre-commit && pre-commit install
#
# VSCode Extension:
# - ext install MarkLarah.pre-commit-vscode
#
# On new hooks added here:
# - pre-commit run --all-files

repos:
- repo: local  
  hooks:    
    - id: go-mod-tidy
      name: "go mod tidy"
      files: go.*
      entry: ./scripts/git/tidy.sh
      language: "script"

    - id: golangci-lint
      name: "lint"
      files: .*go
      entry: ./scripts/git/linter.sh
      require_serial: true
      language: "script"

    - id: markdown-lint
      name: "markdown linter"
      files: .*md
      entry: ./scripts/git/markdown_lint.sh
      require_serial: true
      language: "script"

Create FeePrepay Module, Override SDK Deduct Fee Decorator, Plan to move logic
  app/ante.go
  app/decorators/dedcuct_fee.go
  app/decorators/feeprepay_poc.go
  app/decorators/feeprepay_poc.go.archive
  app/keepers/keepers.go
  scripts/test_node.sh
  x/feeprepay/types/constants.go
Due: go-mod-tidy, golangci-lint

remove complex logic (#810)
  x/globalfee/ante/fee.go
Due: go-mod-tidy, golangci-lint

Send funds to user on zero fee tx
  app/decorators/dedcuct_fee.go
Due: go-mod-tidy, golangci-lint

Transfer funds between modules (incomplete)
  app/decorators/dedcuct_fee.go
  scripts/test_node.sh
Due: go-mod-tidy, golangci-lint

Remove roadmap
  ROADMAP.md
Due: markdown-lint

Handle Transfer Errors
  app/decorators/dedcuct_fee.go
  scripts/test_node.sh
Due: go-mod-tidy, golangci-lint

Remove roadmap (#811)
  ROADMAP.md
Due: markdown-lint

RegisterMsgServer for GlobalFee UpdateParams (#799)
  x/globalfee/module.go
  x/globalfee/types/codec.go
Due: go-mod-tidy, golangci-lint

feat!: Faster block times (3s) (#789)
  app/upgrades/v17/upgrade_test.go
  app/upgrades/v17/upgrades.go
  cmd/junod/cmd/root.go
Due: go-mod-tidy, golangci-lint, markdown-lint

Move ante to x/feepay
  app/ante.go
  app/keepers/keepers.go
  x/feepay/ante/dedcuct_fee.go
  x/feepay/types/constants.go
Due: go-mod-tidy, golangci-lint

Add FeePay keeper
  app/keepers/keepers.go
  x/feepay/keeper/keeper.go
Due: go-mod-tidy, golangci-lint

Add example contract and script for fee pay
  scripts/feepay.sh
  scripts/fpexample.wasm
Due: none

fix errors
  x/feepay/ante/dedcuct_fee.go
Due: go-mod-tidy, golangci-lint

Hook Keeper Into Ante, Start Work on Proto (copy from FeeShare)
  app/ante.go
  app/app.go
  proto/juno/feepay/v1/feepay.proto
  proto/juno/feepay/v1/genesis.proto
  proto/juno/feepay/v1/query.proto
  proto/juno/feepay/v1/tx.proto
  scripts/feepay.sh
  x/feepay/ante/dedcuct_fee.go
  x/feepay/keeper/keeper.go
  x/feepay/types/feepay.pb.go
  x/feepay/types/genesis.pb.go
  x/feepay/types/tx.pb.go
  x/feepay/types/tx.pb.gw.go
Due: go-mod-tidy, golangci-lint

Update 02_integration.md
  x/clock/spec/02_integration.md
Due: markdown-lint

Register FeePay Module, Add Tx for Registering Contract, Update Ante to Handle FeePay Contracts, Etc.
  app/ante.go
  app/keepers/keys.go
  app/modules.go
  proto/juno/feepay/v1/feepay.proto
  proto/juno/feepay/v1/query.proto
  proto/juno/feepay/v1/tx.proto
  x/feepay/ante/dedcuct_fee.go
  x/feepay/client/cli/tx.go
  x/feepay/genesis.go
  x/feepay/keeper/keeper.go
  x/feepay/keeper/msg_server.go
  x/feepay/keeper/params.go
  x/feepay/module.go
  x/feepay/types/codec.go
  x/feepay/types/feepay.pb.go
  x/feepay/types/genesis.go
  x/feepay/types/msg.go
  x/feepay/types/query.pb.go
  x/feepay/types/tx.pb.go
  x/feepay/types/tx.pb.gw.go
Due: go-mod-tidy, golangci-lint

Add BondDenom to ante
  app/ante.go
  app/app.go
  x/feepay/ante/dedcuct_fee.go
Due: go-mod-tidy, golangci-lint

reduce tokens in targetsupply when burning
  app/keepers/keepers.go
  x/burn/burner.go
  x/mint/keeper/keeper.go
Due: go-mod-tidy, golangci-lint

add query for target supply
  proto/juno/mint/query.proto
  x/mint/client/cli/query.go
  x/mint/keeper/grpc_query.go
  x/mint/types/query.pb.go
  x/mint/types/query.pb.gw.go
Due: go-mod-tidy, golangci-lint

lint
  x/burn/burner.go
  x/mint/keeper/keeper.go
  x/mint/simulation/genesis_test.go
  x/tokenfactory/keeper/admins_test.go
  x/tokenfactory/keeper/msg_server_test.go
Due: go-mod-tidy, golangci-lint

reduce tokens in targetsupply when burning (#816)
  app/keepers/keepers.go
  x/burn/burner.go
  x/mint/keeper/keeper.go
  x/mint/simulation/genesis_test.go
  x/tokenfactory/keeper/admins_test.go
  x/tokenfactory/keeper/msg_server_test.go
Due: go-mod-tidy, golangci-lint

Cover exact fee
  x/feepay/ante/dedcuct_fee.go
  x/feepay/keeper/keeper.go
Due: go-mod-tidy, golangci-lint

Start fund contract tx
  app/ante.go
  proto/juno/feepay/v1/tx.proto
  x/feepay/client/cli/tx.go
  x/feepay/keeper/msg_server.go
  x/feepay/types/codec.go
  x/feepay/types/msg.go
  x/feepay/types/tx.pb.go
  x/feepay/types/tx.pb.gw.go
Due: go-mod-tidy, golangci-lint

lint
  app/upgrades/v13/upgrades.go
  app/upgrades/v16/upgrades.go
  app/upgrades/v18/upgrade_test.go
  app/upgrades/v18/upgrades.go
Due: go-mod-tidy, golangci-lint

Bump: SDK 47.5, IBC 7.3.0
  go.mod
  go.sum
  interchaintest/go.mod
  interchaintest/go.sum
Due: go-mod-tidy, golangci-lint

incr gov metadata length to max uint64 (from 255)
  app/keepers/keepers.go
Due: go-mod-tidy, golangci-lint

Update 02_integration.md (#815)
  x/clock/spec/02_integration.md
Due: markdown-lint

uni-a standalone upgrade
  app/app.go
  app/upgrades/uni-a/constants.go
  app/upgrades/uni-a/upgrade_test.go
  app/upgrades/uni-a/upgrades.go
Due: go-mod-tidy, golangci-lint

100m tokens from 1m (oops, thanks dimi!)
  app/upgrades/uni-a/upgrade_test.go
  app/upgrades/uni-a/upgrades.go
Due: go-mod-tidy, golangci-lint

make it easier to read
  app/upgrades/uni-a/upgrade_test.go
  app/upgrades/uni-a/upgrades.go
Due: go-mod-tidy, golangci-lint

base hooks module (with working example)
  app/keepers/keepers.go
  app/keepers/keys.go
  app/modules.go
  proto/juno/stakinghooks/v1/genesis.proto
  proto/juno/stakinghooks/v1/query.proto
  proto/juno/stakinghooks/v1/tx.proto
  x/juno-staking-hooks/README.md
  x/juno-staking-hooks/client/cli/query.go
  x/juno-staking-hooks/genesis.go
  x/juno-staking-hooks/keeper/hooks.go
  x/juno-staking-hooks/keeper/keeper.go
  x/juno-staking-hooks/keeper/msg_server.go
  x/juno-staking-hooks/keeper/querier.go
  x/juno-staking-hooks/module.go
  x/juno-staking-hooks/spec/01_authorization.md
  x/juno-staking-hooks/spec/02_integration.md
  x/juno-staking-hooks/spec/README.md
  x/juno-staking-hooks/types/codec.go
  x/juno-staking-hooks/types/genesis.pb.go
  x/juno-staking-hooks/types/keys.go
  x/juno-staking-hooks/types/msgs.go
  x/juno-staking-hooks/types/params.go
  x/juno-staking-hooks/types/query.pb.go
  x/juno-staking-hooks/types/query.pb.gw.go
  x/juno-staking-hooks/types/tx.pb.go
Due: go-mod-tidy, golangci-lint, markdown-lint

Rename module, add all event messages
  app/keepers/keepers.go
  app/keepers/keys.go
  app/modules.go
  proto/juno/cwstakinghooks/v1/genesis.proto
  proto/juno/cwstakinghooks/v1/query.proto
  proto/juno/cwstakinghooks/v1/tx.proto
  x/cw-staking-hooks/README.md
  x/cw-staking-hooks/client/cli/query.go
  x/cw-staking-hooks/genesis.go
  x/cw-staking-hooks/keeper/hook_types.go
  x/cw-staking-hooks/keeper/hooks.go
  x/cw-staking-hooks/keeper/keeper.go
  x/cw-staking-hooks/keeper/msg_server.go
  x/cw-staking-hooks/keeper/querier.go
  x/cw-staking-hooks/module.go
  x/cw-staking-hooks/spec/01_authorization.md
  x/cw-staking-hooks/spec/02_integration.md
  x/cw-staking-hooks/spec/README.md
  x/cw-staking-hooks/types/codec.go
  x/cw-staking-hooks/types/genesis.pb.go
  x/cw-staking-hooks/types/keys.go
  x/cw-staking-hooks/types/msgs.go
  x/cw-staking-hooks/types/params.go
  x/cw-staking-hooks/types/query.pb.go
  x/cw-staking-hooks/types/query.pb.gw.go
  x/cw-staking-hooks/types/tx.pb.go
  x/juno-staking-hooks/keeper/hooks.go
  x/juno-staking-hooks/spec/README.md
Due: go-mod-tidy, golangci-lint, markdown-lint

Rename to cw-hooks (gov in the future)
  app/keepers/keepers.go
  app/keepers/keys.go
  app/modules.go
  proto/juno/cwhooks/v1/genesis.proto
  proto/juno/cwhooks/v1/query.proto
  proto/juno/cwhooks/v1/tx.proto
  x/cw-hooks/README.md
  x/cw-hooks/client/cli/query.go
  x/cw-hooks/genesis.go
  x/cw-hooks/keeper/keeper.go
  x/cw-hooks/keeper/msg_server.go
  x/cw-hooks/keeper/querier.go
  x/cw-hooks/keeper/staking_hook_types.go
  x/cw-hooks/keeper/staking_hooks.go
  x/cw-hooks/module.go
  x/cw-hooks/spec/01_authorization.md
  x/cw-hooks/spec/02_integration.md
  x/cw-hooks/spec/README.md
  x/cw-hooks/types/codec.go
  x/cw-hooks/types/genesis.pb.go
  x/cw-hooks/types/keys.go
  x/cw-hooks/types/msgs.go
  x/cw-hooks/types/params.go
  x/cw-hooks/types/query.pb.go
  x/cw-hooks/types/query.pb.gw.go
  x/cw-hooks/types/tx.pb.go
  x/cw-staking-hooks/spec/README.md
Due: go-mod-tidy, golangci-lint, markdown-lint

wip: gov hooks
  app/keepers/keepers.go
  app/modules.go
  x/cw-hooks/keeper/gov_hooks.go
  x/cw-hooks/keeper/keeper.go
  x/cw-hooks/keeper/staking_hooks.go
Due: go-mod-tidy, golangci-lint

Add bond denom from main
  app/app.go
  app/keepers/keepers.go
  x/feepay/keeper/keeper.go
Due: go-mod-tidy, golangci-lint

Update Fund CLI
  x/feepay/client/cli/tx.go
  x/feepay/keeper/keeper.go
  x/feepay/keeper/msg_server.go
Due: go-mod-tidy, golangci-lint

Fund Contract via User Wallet
  x/feepay/ante/dedcuct_fee.go
  x/feepay/keeper/keeper.go
  x/feepay/keeper/msg_server.go
Due: go-mod-tidy, golangci-lint
