Repository CosmosContracts/juno: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, golangci-lint, markdown-lint

go-mod-tidy:
  name: go mod tidy
  entry: ./scripts/git/tidy.sh
  language: script

golangci-lint:
  name: lint
  entry: ./scripts/git/linter.sh
  require_serial: true
  language: script

markdown-lint:
  name: markdown linter
  entry: ./scripts/git/markdown_lint.sh
  require_serial: true
  language: script

Works.
  app/ante.go
  interchaintest/module_feepay_test.go
  interchaintest/module_globalfee_test.go
  x/feepay/ante/deduct_fee.go
  x/feepay/ante/is_fee_pay_tx.go
  x/globalfee/ante/fee.go
Due: go-mod-tidy, golangci-lint

Refactor Fee Decorator Logic
  app/ante.go
  interchaintest/module_feepay_test.go
  x/feepay/ante/deduct_fee.go
  x/feepay/ante/fee_route.go
  x/feepay/ante/is_fee_pay_tx.go
  x/globalfee/ante/fee.go
Due: go-mod-tidy, golangci-lint

fix: v18alpha upgrade checker
  app/upgrades/testnet/v18.0.0-alpha.2/upgrade_test.go
Due: go-mod-tidy, golangci-lint

Update Code Owners
  .github/CODEOWNERS
Due: none

Update Code Owners (#878)
  .github/CODEOWNERS
Due: none

Some txs are hitting FeePay when no --fee is used (#874)
  app/ante.go
  app/app.go
  app/keepers/keepers.go
  app/keepers/keys.go
  app/modules.go
  app/upgrades/testnet/v18.0.0-alpha.2/constants.go
  app/upgrades/testnet/v18.0.0-alpha.2/upgrade_test.go
  app/upgrades/types.go
  app/upgrades/v13/constants.go
  app/upgrades/v13/upgrades.go
  go.mod
  go.sum
  interchaintest/go.mod
  interchaintest/module_feepay_test.go
  x/feepay/ante/deduct_fee.go
  x/feepay/ante/fee_route.go
  x/feepay/helpers/fee_pay_tx_validator.go
  x/feepay/types/errors.go
  x/globalfee/ante/fee.go
Due: go-mod-tidy, golangci-lint

Add Std Msg Unit Tests
  app/ante.go
  app/decorators/change_rate_decorator.go
  app/decorators/change_rate_decorator_test.go
Due: go-mod-tidy, golangci-lint

Test All Change Rate Values
  app/decorators/change_rate_decorator_test.go
Due: go-mod-tidy, golangci-lint

Lint
  app/decorators/change_rate_decorator.go
  app/decorators/change_rate_decorator_test.go
Due: go-mod-tidy, golangci-lint

Fix Authz Decoding
  app/decorators/change_rate_decorator.go
  app/decorators/change_rate_decorator_test.go
  go.mod
Due: go-mod-tidy, golangci-lint

Remove Debug Statements
  app/decorators/change_rate_decorator.go
Due: go-mod-tidy, golangci-lint

Fix Change Rate Test Loop
  app/decorators/change_rate_decorator_test.go
Due: go-mod-tidy, golangci-lint

Revert Test Node Script Changes
  scripts/test_node.sh
Due: none

ledger-cosmos-go v0.12.4
  go.mod
  go.sum
  interchaintest/go.mod
  interchaintest/go.sum
Due: go-mod-tidy, golangci-lint

ledger-cosmos-go v0.12.4 (#883)
  go.mod
  go.sum
  interchaintest/go.mod
  interchaintest/go.sum
Due: go-mod-tidy, golangci-lint

Recursively Search Authz Msgs
  app/ante.go
  x/feeshare/ante/ante.go
Due: go-mod-tidy, golangci-lint

Add Ante Unit Tests
  x/feeshare/ante/ante_test.go
Due: go-mod-tidy, golangci-lint

Lint
  go.mod
  x/feeshare/ante/ante_test.go
Due: go-mod-tidy, golangci-lint

Add Interchain Tests for Authz
  interchaintest/go.mod
  interchaintest/helpers/cosmwasm.go
  interchaintest/module_feeshare_test.go
Due: go-mod-tidy, golangci-lint

Remove Debug Statement
  interchaintest/helpers/cosmwasm.go
Due: go-mod-tidy, golangci-lint

Structure FeePay Docs
  x/feepay/README.md
  x/feepay/spec/01_concepts.md
  x/feepay/spec/02_state.md
  x/feepay/spec/03_parameters.md
  x/feepay/spec/04_ante.md
  x/feepay/spec/05_clients.md
  x/feepay/spec/README.md
Due: markdown-lint

Complete FeePay Docs
  x/feepay/README.md
  x/feepay/spec/01_concepts.md
  x/feepay/spec/02_state.md
  x/feepay/spec/03_ante.md
  x/feepay/spec/03_parameters.md
  x/feepay/spec/04_ante.md
  x/feepay/spec/04_clients.md
  x/feepay/spec/05_clients.md
  x/feepay/spec/README.md
Due: markdown-lint

Fix Type Issues
  interchaintest/module_feeshare_test.go
Due: go-mod-tidy, golangci-lint

Fix Math Int Conversion
  interchaintest/module_feeshare_test.go
Due: go-mod-tidy, golangci-lint

bump to wasmd v0.45.0
  app/keepers/keepers.go
  go.mod
  go.sum
  interchaintest/go.mod
  interchaintest/go.sum
Due: go-mod-tidy, golangci-lint

add blank upgrade
  app/app.go
  app/upgrades/testnet/v18.0.0-alpha.3/constants.go
  app/upgrades/testnet/v18.0.0-alpha.3/upgrade_test.go
Due: go-mod-tidy, golangci-lint

lint
  app/app.go
Due: go-mod-tidy, golangci-lint

fix!: Bump wasmd to v0.45 (#887)
  app/app.go
  app/keepers/keepers.go
  app/upgrades/testnet/v18.0.0-alpha.3/constants.go
  app/upgrades/testnet/v18.0.0-alpha.3/upgrade_test.go
  go.mod
  go.sum
  interchaintest/go.mod
  interchaintest/go.sum
Due: go-mod-tidy, golangci-lint

use wasmd WithMessageHandlerDecorator
  app/keepers/keepers.go
Due: go-mod-tidy, golangci-lint

add test for subMessages
  interchaintest/chain_start_test.go
  interchaintest/conformance/cosmwasm.go
  interchaintest/contracts/README.md
  interchaintest/contracts/cw721_base.wasm.gz
  interchaintest/contracts/cw721_receiver.wasm.gz
  interchaintest/go.mod
  interchaintest/go.sum
  interchaintest/helpers/cosmwasm.go
Due: go-mod-tidy, golangci-lint, markdown-lint

add big disclaimed to NOT use the x/burn module from Juno for outside networks
  x/burn/README.md
Due: markdown-lint

v1800alpha4 upgrade handler
  app/app.go
  app/upgrades/testnet/v18.0.0-alpha.4/constants.go
  app/upgrades/testnet/v18.0.0-alpha.4/upgrade_test.go
Due: go-mod-tidy, golangci-lint

fuller test
  interchaintest/conformance/cosmwasm.go
Due: go-mod-tidy, golangci-lint

add back std cw test
  interchaintest/conformance/cosmwasm.go
Due: go-mod-tidy, golangci-lint

fix wasmd sub messages via Burn Plugin (#892)
  app/app.go
  app/keepers/keepers.go
  app/upgrades/testnet/v18.0.0-alpha.4/constants.go
  app/upgrades/testnet/v18.0.0-alpha.4/upgrade_test.go
  interchaintest/chain_start_test.go
  interchaintest/conformance/cosmwasm.go
  interchaintest/contracts/README.md
  interchaintest/contracts/cw721_base.wasm.gz
  interchaintest/contracts/cw721_receiver.wasm.gz
  interchaintest/go.mod
  interchaintest/go.sum
  interchaintest/helpers/cosmwasm.go
  x/burn/README.md
Due: go-mod-tidy, golangci-lint, markdown-lint

fmt on 04 page
  x/feepay/spec/04_clients.md
Due: markdown-lint

FeePay Documentation (#886)
  x/feepay/README.md
  x/feepay/spec/01_concepts.md
  x/feepay/spec/02_state.md
  x/feepay/spec/03_ante.md
  x/feepay/spec/04_clients.md
  x/feepay/spec/README.md
Due: markdown-lint

simplify `getChangeRate`
  app/decorators/change_rate_decorator_test.go
Due: go-mod-tidy, golangci-lint

mv -> `ExecuteAuthzGrantMsg` & rm unused args
  interchaintest/helpers/authz.go
  interchaintest/module_feeshare_test.go
Due: go-mod-tidy, golangci-lint

FeeShare: Authz payout support (#845)
  go.mod
  interchaintest/helpers/authz.go
  interchaintest/helpers/cosmwasm.go
  interchaintest/module_feeshare_test.go
  x/feeshare/ante/ante.go
  x/feeshare/ante/ante_test.go
Due: go-mod-tidy, golangci-lint

Path conditions:
  go-mod-tidy: any of: go.*
  golangci-lint: any of: .*go
  markdown-lint: any of: .*md
