Repository CosmosContracts/juno: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, golangci-lint, markdown-lint

.pre-commit-config.yaml:

# Install:
# - pip install pre-commit && pre-commit install
#
# VSCode Extension:
# - ext install MarkLarah.pre-commit-vscode
#
# On new hooks added here:
# - pre-commit run --all-files

repos:
- repo: local  
  hooks:    
    - id: go-mod-tidy
      name: "go mod tidy"
      files: go.*
      entry: ./scripts/git/tidy.sh
      language: "script"

    - id: golangci-lint
      name: "lint"
      files: .*go
      entry: ./scripts/git/linter.sh
      require_serial: true
      language: "script"

    - id: markdown-lint
      name: "markdown linter"
      files: .*md
      entry: ./scripts/git/markdown_lint.sh
      require_serial: true
      language: "script"

v20 plain upgrade
  app/app.go
  app/upgrades/v19/upgrade_test.go
  app/upgrades/v20/constants.go
  app/upgrades/v20/upgrade_test.go
  app/upgrades/v20/upgrades.go
Due: go-mod-tidy, golangci-lint

lintor
  app/upgrades/v20/upgrade_test.go
Due: go-mod-tidy, golangci-lint

execute contract's before and after an upgrade
  interchaintest/chain_upgrade_test.go
  interchaintest/conformance/cosmwasm.go
Due: go-mod-tidy, golangci-lint

remove v20 storekey addition
  app/upgrades/v20/constants.go
Due: go-mod-tidy, golangci-lint

CreateV20UpgradeHandler
  app/upgrades/v20/constants.go
  app/upgrades/v20/upgrades.go
Due: go-mod-tidy, golangci-lint

remove v20
  app/app.go
  app/upgrades/v20/constants.go
  app/upgrades/v20/upgrade_test.go
  app/upgrades/v20/upgrades.go
Due: go-mod-tidy, golangci-lint

fix upgrade test (v18 -> v19)
  interchaintest/chain_upgrade_test.go
Due: go-mod-tidy, golangci-lint

fix! not loading in contracts with custom WasmVM after upgrade (#961)
  app/app.go
  app/keepers/keepers.go
  app/upgrades/v19/upgrade_test.go
  interchaintest/chain_upgrade_test.go
  interchaintest/conformance/cosmwasm.go
Due: go-mod-tidy, golangci-lint

bump dependencies
  go.mod
  go.sum
Due: go-mod-tidy, golangci-lint

bump deps all around...
  go.mod
  go.sum
  interchaintest/go.mod
  interchaintest/go.sum
Due: go-mod-tidy, golangci-lint

further bumping
  go.mod
  go.sum
Due: go-mod-tidy, golangci-lint

bump deps in interchaintest
  interchaintest/go.mod
  interchaintest/go.sum
Due: go-mod-tidy, golangci-lint

lint
  app/decorators/change_rate_decorator_test.go
  app/openapiconsole/console.go
  cmd/junod/cmd/genica.go
  cmd/junod/cmd/resets.go
  x/clock/client/cli/query.go
  x/clock/keeper/clock.go
  x/cw-hooks/client/cli/query.go
  x/feepay/ante/fee_route.go
  x/feepay/keeper/feepay.go
  x/feeshare/ante/ante_test.go
  x/globalfee/client/cli/query.go
  x/globalfee/querier_test.go
  x/mint/client/cli/query.go
  x/tokenfactory/client/cli/query.go
  x/tokenfactory/simulation/operations.go
Due: go-mod-tidy, golangci-lint, markdown-lint

update lint action
  app/decorators/change_rate_decorator_test.go
  app/openapiconsole/console.go
  cmd/junod/cmd/genica.go
  x/clock/client/cli/query.go
  x/clock/keeper/clock.go
  x/feepay/ante/fee_route.go
  x/feepay/keeper/feepay.go
  x/feeshare/ante/ante_test.go
  x/globalfee/querier_test.go
  x/tokenfactory/simulation/operations.go
Due: go-mod-tidy, golangci-lint, markdown-lint

do the easy stuff first....
  .golangci.yml
  cmd/junod/cmd/resets.go
  x/cw-hooks/client/cli/query.go
  x/feepay/ante/fee_route.go
  x/feeshare/ante/ante_test.go
  x/globalfee/client/cli/query.go
  x/globalfee/querier_test.go
  x/mint/client/cli/query.go
  x/tokenfactory/client/cli/query.go
  x/tokenfactory/simulation/operations.go
Due: go-mod-tidy, golangci-lint, markdown-lint

bump grpc
  interchaintest/go.mod
  interchaintest/go.sum
Due: go-mod-tidy, golangci-lint

fix! not loading in contracts with custom WasmVM after upgrade (#961) (#968)
  app/app.go
  app/keepers/keepers.go
  app/upgrades/v19/upgrade_test.go
  interchaintest/chain_upgrade_test.go
  interchaintest/conformance/cosmwasm.go
Due: go-mod-tidy, golangci-lint

bump latest juno
  go.mod
  go.sum
  interchaintest/go.mod
  interchaintest/go.sum
Due: go-mod-tidy, golangci-lint

bumps
  go.mod
  go.sum
  interchaintest/go.mod
  interchaintest/go.sum
Due: go-mod-tidy, golangci-lint

rm comment to get commits to push
  go.mod
Due: go-mod-tidy, golangci-lint

bump: golang-ci-lint-action (#974)
  .github/workflows/golangci-lint.yml
  .golangci.yml
  app/decorators/change_rate_decorator_test.go
  app/openapiconsole/console.go
  cmd/junod/cmd/genica.go
  cmd/junod/cmd/resets.go
  x/clock/client/cli/query.go
  x/clock/keeper/clock.go
  x/cw-hooks/client/cli/query.go
  x/feepay/ante/fee_route.go
  x/feepay/keeper/feepay.go
  x/feeshare/ante/ante_test.go
  x/globalfee/client/cli/query.go
  x/globalfee/querier_test.go
  x/mint/client/cli/query.go
  x/tokenfactory/client/cli/query.go
  x/tokenfactory/simulation/operations.go
Due: go-mod-tidy, golangci-lint, markdown-lint

run upgrade test against v20 & remove wasm from store upgrades
  app/upgrades/v21/constants.go
  interchaintest/chain_upgrade_test.go
Due: go-mod-tidy, golangci-lint

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

Update CODEOWNERS (#979)
  .github/CODEOWNERS
Due: none

chore: pgf bump
  app/keepers/keepers.go
  app/modules.go
  app/upgrades/v21/constants.go
  go.mod
  go.sum
Due: go-mod-tidy, golangci-lint

add testnet upgrade handler
  app/app.go
  app/upgrades/testnet/v21.0.0-alpha.1/constants.go
  app/upgrades/testnet/v21.0.0-alpha.1/upgrade_test.go
Due: go-mod-tidy, golangci-lint

chore: pfm bump (#980)
  app/app.go
  app/keepers/keepers.go
  app/modules.go
  app/upgrades/testnet/v21.0.0-alpha.1/constants.go
  app/upgrades/testnet/v21.0.0-alpha.1/upgrade_test.go
  app/upgrades/v21/constants.go
  go.mod
  go.sum
Due: go-mod-tidy, golangci-lint

lint
  app/upgrades/testnet/v21.0.0-alpha.1/constants.go
  app/upgrades/v13/upgrades.go
Due: go-mod-tidy, golangci-lint

version bumps
  go.mod
  go.sum
Due: go-mod-tidy, golangci-lint

enable unsafe cors on docker by default
  docker-compose.yml
Due: none

empty v22 upgrade handler
  app/app.go
  app/upgrades/testnet/v22.0.0-alpha.1/constants.go
  app/upgrades/testnet/v22.0.0-alpha.1/upgrade_test.go
  app/upgrades/v22/constants.go
  app/upgrades/v22/upgrade_test.go
  app/upgrades/v22/upgrades.go
Due: go-mod-tidy, golangci-lint

version bumps on interchaintest
  interchaintest/go.mod
  interchaintest/go.sum
Due: go-mod-tidy, golangci-lint

lint
  app/keepers/keepers.go
  app/upgrades/v13/upgrades.go
  app/upgrades/v16/upgrades.go
  app/upgrades/v21/constants.go
  app/upgrades/v22/constants.go
Due: go-mod-tidy, golangci-lint

more lint
  app/upgrades/testnet/v21.0.0-alpha.1/constants.go
  app/upgrades/testnet/v22.0.0-alpha.1/constants.go
  app/upgrades/v13/upgrades.go
Due: go-mod-tidy, golangci-lint

use cometbft v0.37.2 on interchain test
  interchaintest/go.mod
  interchaintest/go.sum
Due: go-mod-tidy, golangci-lint
