Repository CosmosContracts/juno: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, golangci-lint, markdown-lint

.pre-commit-config.yaml:

# Install:
# - pip install pre-commit && pre-commit install
#
# VSCode Extension:
# - ext install MarkLarah.pre-commit-vscode
#
# On new hooks added here:
# - pre-commit run --all-files

repos:
- repo: local  
  hooks:    
    - id: go-mod-tidy
      name: "go mod tidy"
      files: go.*
      entry: ./scripts/git/tidy.sh
      language: "script"

    - id: golangci-lint
      name: "lint"
      files: .*go
      entry: ./scripts/git/linter.sh
      require_serial: true
      language: "script"

    - id: markdown-lint
      name: "markdown linter"
      files: .*md
      entry: ./scripts/git/markdown_lint.sh
      require_serial: true
      language: "script"

cw4
  scripts/cw4/cw4_group.wasm
  scripts/cw4/upload.sh
Due: none

Lint
  app/helpers/contracts.go
  x/clock/abci.go
  x/cw-hooks/keeper/contracts.go
Due: go-mod-tidy, golangci-lint

use wasmapp.AllCapabilities()
  app/keepers/keepers.go
Due: go-mod-tidy, golangci-lint

Fix Clock Error Codes
  x/clock/types/errors.go
Due: go-mod-tidy, golangci-lint

Add Missing Contract References
  interchaintest/contracts/README.md
Due: markdown-lint

chore: Better Errors (#924)
  app/helpers/contracts.go
  app/helpers/global_errors.go
  interchaintest/contracts/README.md
  interchaintest/contracts/juno_staking_hooks_high_gas_example.wasm
  interchaintest/module_cwhooks_test.go
  x/clock/abci.go
  x/clock/keeper/clock.go
  x/clock/keeper/querier.go
  x/clock/types/errors.go
  x/clock/types/msgs.go
  x/cw-hooks/keeper/contracts.go
  x/feepay/keeper/feepay.go
  x/feepay/keeper/msg_server.go
  x/feepay/keeper/querier.go
  x/feepay/types/errors.go
Due: go-mod-tidy, golangci-lint, markdown-lint

use wasmapp.AllCapabilities() (#926)
  app/keepers/keepers.go
Due: go-mod-tidy, golangci-lint

Move Upgrade Logic to v19
  app/upgrades/v16/upgrades.go
  app/upgrades/v19/upgrades.go
  app/upgrades/vesting.go
Due: go-mod-tidy, golangci-lint

Update SECURITY.md
  SECURITY.md
Due: markdown-lint

typo
  SECURITY.md
Due: markdown-lint

Update SECURITY.md (#931)
  SECURITY.md
Due: markdown-lint

update wasmvm to v1.5.1
  go.mod
  go.sum
  interchaintest/go.mod
  interchaintest/go.sum
Due: go-mod-tidy, golangci-lint

wasmvm 1.5.1
  go.mod
  go.sum
  interchaintest/go.mod
  interchaintest/go.sum
Due: go-mod-tidy, golangci-lint

update wasmvm to v1.5.1 (#932)
  go.mod
  go.sum
  interchaintest/go.mod
  interchaintest/go.sum
Due: go-mod-tidy, golangci-lint

wasmvm 1.5.1 (#933)
  go.mod
  go.sum
  interchaintest/go.mod
  interchaintest/go.sum
Due: go-mod-tidy, golangci-lint

init
  app/upgrades/v19/mainnet_account.go
  app/upgrades/v19/upgrade_test.go
  app/upgrades/v19/upgrades.go
Due: go-mod-tidy, golangci-lint

finally get delegation to work, hacky though by force setting ugh
  app/apptesting/test_suite.go
  app/upgrades/v19/mainnet_account.go
  app/upgrades/v19/upgrade_test.go
Due: go-mod-tidy, golangci-lint

idfk negative coin amount
  app/apptesting/test_suite.go
  app/upgrades/v19/upgrade_test.go
  app/upgrades/v19/upgrades.go
Due: go-mod-tidy, golangci-lint

fix staking util
  app/apptesting/test_suite.go
  app/upgrades/v19/upgrade_test.go
Due: go-mod-tidy, golangci-lint

prop16Core1Multisig & move unvested funds
  app/apptesting/test_suite.go
  app/upgrades/v19/constants.go
  app/upgrades/v19/mainnet_account.go
  app/upgrades/v19/upgrade_test.go
  app/upgrades/v19/upgrades.go
Due: go-mod-tidy, golangci-lint

cleanup
  app/apptesting/test_suite.go
  app/upgrades/v19/mainnet_account.go
  app/upgrades/v19/upgrade_test.go
  app/upgrades/v19/upgrades.go
Due: go-mod-tidy, golangci-lint

use ctx.GetBlockTime() for determinism
  app/upgrades/v19/mainnet_account.go
  app/upgrades/v19/upgrades.go
Due: go-mod-tidy, golangci-lint

lintor
  app/apptesting/test_suite.go
  app/upgrades/v19/mainnet_account.go
  app/upgrades/v19/upgrade_test.go
  app/upgrades/v19/upgrades.go
Due: go-mod-tidy, golangci-lint

use `juno-1` height for go test
  .gitignore
  app/apptesting/test_suite.go
  app/upgrades/v19/upgrades.go
Due: go-mod-tidy, golangci-lint

cleanup
  app/apptesting/test_suite.go
  app/upgrades/v19/upgrade_test.go
  app/upgrades/v19/upgrades.go
Due: go-mod-tidy, golangci-lint

remove stale comment
  app/upgrades/v19/upgrades.go
Due: go-mod-tidy, golangci-lint

move func
  app/upgrades/v19/mainnet_account.go
  app/upgrades/v19/upgrade_test.go
  app/upgrades/v19/upgrades.go
Due: go-mod-tidy, golangci-lint

Add Zip File Integration (CW WIP)
  app/app.go
  app/webhost/_scripts.sh
  app/webhost/cw_webhost.wasm
  app/webhost/file_server.go
Due: go-mod-tidy, golangci-lint

Remove Write Header
  app/webhost/file_server.go
Due: go-mod-tidy, golangci-lint

remove mintUnvestedToCharter
  app/upgrades/v19/upgrades.go
Due: go-mod-tidy, golangci-lint

fix test
  app/upgrades/v19/upgrade_test.go
Due: go-mod-tidy, golangci-lint

Hook Into Contract For Zip Support, Add Python Script for Easy Upload, Add Demo Website Zip
  app/app.go
  app/webhost/_scripts.sh
  app/webhost/encode_zip_to_base64.py
  app/webhost/file_server.go
  app/webhost/web.zip
Due: go-mod-tidy, golangci-lint

Update Error Handling & Debug Msgs
  app/webhost/file_server.go
Due: go-mod-tidy, golangci-lint

Code Cleanup & Refactoring
  app/app.go
  app/webhost/_scripts.sh
  app/webhost/console.go
  app/webhost/file_server.go
Due: go-mod-tidy, golangci-lint

Limit File Sizes & Lint
  app/webhost/console.go
Due: go-mod-tidy, golangci-lint

Update app/webhost/_scripts.sh
  app/webhost/_scripts.sh
Due: none

Update readme.md
  readme.md
Due: markdown-lint

Juno Website Hosting Update (#939)
  app/app.go
  app/webhost/_scripts.sh
  app/webhost/console.go
  app/webhost/cw_webhost.wasm
  app/webhost/encode_zip_to_base64.py
  app/webhost/web.zip
Due: go-mod-tidy, golangci-lint
