Repository CosmosContracts/juno: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, golangci-lint, markdown-lint

go-mod-tidy:
  name: go mod tidy
  entry: ./scripts/git/tidy.sh
  language: script

golangci-lint:
  name: lint
  entry: ./scripts/git/linter.sh
  require_serial: true
  language: script

markdown-lint:
  name: markdown linter
  entry: ./scripts/git/markdown_lint.sh
  require_serial: true
  language: script

Prevent FeePay Tx in Ante when Disabled
  x/feepay/ante/deduct_fee.go
  x/feepay/types/errors.go
Due: go-mod-tidy, golangci-lint

wasmd v0.42.0
  app/wasm_config.go
  go.mod
  go.sum
  interchaintest/go.mod
  interchaintest/go.sum
Due: go-mod-tidy, golangci-lint

Upload tweaked cw_testburn module (with link)
  interchaintest/contracts/README.md
  interchaintest/contracts/cw_testburn.wasm
Due: markdown-lint

Write JunoBurn e2e test
  interchaintest/module_burn_test.go
Due: go-mod-tidy, golangci-lint

add e2e test to CI
  .github/workflows/interchaintest-E2E.yml
  Makefile
Due: none

update burn plugin -> v18
  x/burn/burner.go
Due: go-mod-tidy, golangci-lint

Fix go test
  x/tokenfactory/keeper/admins_test.go
Due: go-mod-tidy, golangci-lint

stale comments
  app/keepers/keepers.go
  x/burn/burner.go
Due: go-mod-tidy, golangci-lint

rm unity contract gov submit test (it is already on chain, we already test the actual interaction)
  go.mod
  interchaintest/contract_unity_submit_test.go
Due: go-mod-tidy, golangci-lint

[v18] Juno x/burn module (#801)
  .github/workflows/interchaintest-E2E.yml
  Makefile
  app/keepers/keepers.go
  go.mod
  interchaintest/contract_unity_submit_test.go
  interchaintest/contracts/README.md
  interchaintest/contracts/cw_testburn.wasm
  interchaintest/module_burn_test.go
  x/burn/README.md
  x/burn/burner.go
  x/burn/constants.go
  x/mint/keeper/keeper.go
  x/mint/types/expected_keepers.go
Due: go-mod-tidy, golangci-lint, markdown-lint

use BinaryCodec for Unpacking Authz msgs
  app/ante.go
  x/feeshare/ante/ante.go
Due: go-mod-tidy, golangci-lint

adjust clock proposal documentation
  x/clock/spec/01_authorization.md
Due: markdown-lint

adjust clock proposal documentation (#846)
  x/clock/spec/01_authorization.md
Due: markdown-lint

grpc & client
  go.mod
  go.sum
  interchaintest/go.mod
  interchaintest/go.sum
Due: go-mod-tidy, golangci-lint

register staking & queries
  app/keepers/keepers.go
  proto/juno/cwhooks/v1/cwhooks.proto
  proto/juno/cwhooks/v1/genesis.proto
  proto/juno/cwhooks/v1/query.proto
  proto/juno/cwhooks/v1/tx.proto
  x/cw-hooks/client/cli/query.go
  x/cw-hooks/client/cli/tx.go
  x/cw-hooks/genesis.go
  x/cw-hooks/keeper/keeper.go
  x/cw-hooks/keeper/msg_server.go
  x/cw-hooks/keeper/querier.go
  x/cw-hooks/keeper/staking.go
  x/cw-hooks/keeper/staking_hooks.go
  x/cw-hooks/module.go
  x/cw-hooks/types/codec.go
  x/cw-hooks/types/cwhooks.pb.go
  x/cw-hooks/types/genesis.pb.go
  x/cw-hooks/types/keys.go
  x/cw-hooks/types/msgs.go
  x/cw-hooks/types/query.pb.go
  x/cw-hooks/types/query.pb.gw.go
  x/cw-hooks/types/tx.pb.go
Due: go-mod-tidy, golangci-lint

simply, add Gov register
  proto/juno/cwhooks/v1/cwhooks.proto
  proto/juno/cwhooks/v1/genesis.proto
  proto/juno/cwhooks/v1/query.proto
  proto/juno/cwhooks/v1/tx.proto
  x/cw-hooks/client/cli/tx.go
  x/cw-hooks/genesis.go
  x/cw-hooks/keeper/contracts.go
  x/cw-hooks/keeper/gov_hooks.go
  x/cw-hooks/keeper/keeper.go
  x/cw-hooks/keeper/msg_server.go
  x/cw-hooks/keeper/params.go
  x/cw-hooks/keeper/querier.go
  x/cw-hooks/keeper/staking.go
  x/cw-hooks/keeper/staking_hooks.go
  x/cw-hooks/types/codec.go
  x/cw-hooks/types/genesis.pb.go
  x/cw-hooks/types/keys.go
  x/cw-hooks/types/msgs.go
  x/cw-hooks/types/params.go
  x/cw-hooks/types/query.pb.go
  x/cw-hooks/types/query.pb.gw.go
  x/cw-hooks/types/tx.pb.go
Due: go-mod-tidy, golangci-lint

e2e test template, query helper
  interchaintest/helpers/cwhooks.go
  interchaintest/module_cwhooks_test.go
  x/cw-hooks/README.md
  x/cw-hooks/client/cli/query.go
  x/cw-hooks/keeper/msg_server.go
Due: go-mod-tidy, golangci-lint, markdown-lint

script, example contract, checks
  x/cw-hooks/contract/README.md
  x/cw-hooks/contract/juno_staking_hooks_example.wasm
  x/cw-hooks/keeper/contracts.go
  x/cw-hooks/keeper/staking_hook_types.go
  x/cw-hooks/keeper/staking_hooks.go
  x/cw-hooks/script.sh
Due: go-mod-tidy, golangci-lint, markdown-lint

staking: new contract with all methods
  x/cw-hooks/contract/juno_staking_hooks_example.wasm
  x/cw-hooks/keeper/contract/README.md
  x/cw-hooks/keeper/contract/juno_staking_hooks_example.wasm
  x/cw-hooks/script.sh
Due: markdown-lint

keeper, msg_server, and querier go test
  x/cw-hooks/contract/README.md
  x/cw-hooks/keeper/keeper_test.go
  x/cw-hooks/keeper/msg_server.go
  x/cw-hooks/keeper/msg_server_test.go
  x/cw-hooks/keeper/querier.go
  x/cw-hooks/keeper/querier_test.go
  x/cw-hooks/keeper/staking_hook_types.go
  x/cw-hooks/keeper/staking_hooks.go
  x/cw-hooks/types/query.pb.go
Due: go-mod-tidy, golangci-lint, markdown-lint

lint
  x/cw-hooks/client/cli/tx.go
  x/cw-hooks/keeper/contracts.go
  x/cw-hooks/keeper/gov_hooks.go
  x/cw-hooks/keeper/keeper_test.go
  x/cw-hooks/keeper/msg_server_test.go
  x/cw-hooks/keeper/params.go
  x/cw-hooks/keeper/querier.go
  x/cw-hooks/keeper/querier_test.go
  x/cw-hooks/keeper/staking_hooks.go
Due: go-mod-tidy, golangci-lint

unregister contracts + test
  proto/juno/cwhooks/v1/tx.proto
  x/cw-hooks/client/cli/tx.go
  x/cw-hooks/keeper/msg_server.go
  x/cw-hooks/keeper/msg_server_test.go
  x/cw-hooks/script.sh
  x/cw-hooks/types/codec.go
  x/cw-hooks/types/msgs.go
  x/cw-hooks/types/query.pb.go
  x/cw-hooks/types/tx.pb.go
Due: go-mod-tidy, golangci-lint

add cw-hooks e2e test
  interchaintest/contracts/README.md
  interchaintest/contracts/juno_staking_hooks_example.wasm
  interchaintest/helpers/cosmwasm.go
  interchaintest/helpers/cwhooks.go
  interchaintest/helpers/types.go
  interchaintest/module_cwhooks_test.go
Due: go-mod-tidy, golangci-lint, markdown-lint

Fix local panic if contract does not exist on register
  x/cw-hooks/keeper/msg_server.go
  x/cw-hooks/types/params.go
Due: go-mod-tidy, golangci-lint

Genesis: export & import
  x/cw-hooks/genesis.go
  x/cw-hooks/module.go
Due: go-mod-tidy, golangci-lint

move to v18 namespace + upgrade
  app/upgrades/v18/constants.go
  app/upgrades/v18/upgrades.go
  x/cw-hooks/client/cli/query.go
  x/cw-hooks/client/cli/tx.go
  x/cw-hooks/genesis.go
  x/cw-hooks/keeper/gov_hooks.go
  x/cw-hooks/keeper/keeper_test.go
  x/cw-hooks/keeper/msg_server.go
  x/cw-hooks/keeper/msg_server_test.go
  x/cw-hooks/keeper/params.go
  x/cw-hooks/keeper/querier.go
  x/cw-hooks/keeper/querier_test.go
  x/cw-hooks/keeper/staking_hooks.go
  x/cw-hooks/module.go
  x/cw-hooks/script.sh
Due: go-mod-tidy, golangci-lint

docs: cw-hooks & staking integration
  x/cw-hooks/README.md
  x/cw-hooks/spec/00_concepts.md
  x/cw-hooks/spec/01_authorization.md
  x/cw-hooks/spec/01_clients.md
  x/cw-hooks/spec/02_integration.md
  x/cw-hooks/spec/02_state.md
  x/cw-hooks/spec/03_params.md
  x/cw-hooks/spec/04_register.md
  x/cw-hooks/spec/05_stop_events.md
  x/cw-hooks/spec/06_integration.md
  x/cw-hooks/spec/README.md
Due: markdown-lint

move ictest from v17 -> v18
  app/keepers/keys.go
  app/upgrades/v18/upgrades.go
  interchaintest/chain_upgrade_test.go
Due: go-mod-tidy, golangci-lint

cleanup
  x/cw-hooks/keeper/contracts.go
  x/cw-hooks/keeper/keeper.go
  x/cw-hooks/keeper/msg_server_test.go
  x/cw-hooks/keeper/staking_hooks.go
Due: go-mod-tidy, golangci-lint

Use pointer for govKeeper in CWHooks
  app/keepers/keepers.go
Due: go-mod-tidy, golangci-lint

lint
  x/cw-hooks/keeper/keeper.go
  x/cw-hooks/keeper/msg_server_test.go
Due: go-mod-tidy, golangci-lint

complete todos, add gov integration
  interchaintest/chain_upgrade_test.go
  interchaintest/helpers/cosmwasm.go
  proto/juno/cwhooks/v1/query.proto
  x/cw-hooks/keeper/gov_hooks.go
  x/cw-hooks/keeper/keeper.go
  x/cw-hooks/keeper/staking_hook_types.go
  x/cw-hooks/keeper/staking_hooks.go
  x/cw-hooks/spec/06_integration.md
Due: go-mod-tidy, golangci-lint, markdown-lint

Use v17 as teh base upgrade to test from
  interchaintest/chain_upgrade_test.go
Due: go-mod-tidy, golangci-lint

personal review nits
  app/keepers/keepers.go
  x/cw-hooks/genesis.go
  x/cw-hooks/keeper/keeper_test.go
  x/cw-hooks/keeper/staking_hook_types.go
  x/cw-hooks/module.go
  x/cw-hooks/types/msgs.go
Due: go-mod-tidy, golangci-lint

i hate the gci lint with a passion
  x/cw-hooks/keeper/keeper_test.go
Due: go-mod-tidy, golangci-lint

add base test
  x/feepay/genesis_test.go
  x/feepay/keeper/keeper_test.go
  x/feepay/keeper/msg_server_test.go
  x/feepay/keeper/querier.go
  x/feepay/keeper/querier_test.go
  x/feepay/keeper/testdata/clock_example.wasm
Due: go-mod-tidy, golangci-lint

bypass example to execute commands for any account
  app/ante.go
  scripts/test_node.sh
Due: go-mod-tidy, golangci-lint

revert wasmvm to 1.3 (from 1.4)
  go.mod
  go.sum
  interchaintest/go.mod
  interchaintest/go.sum
Due: go-mod-tidy, golangci-lint

fix ictest nested versions
  interchaintest/go.mod
  interchaintest/go.sum
Due: go-mod-tidy, golangci-lint

Add
  interchaintest/state_sync_test.go
Due: go-mod-tidy, golangci-lint

Path conditions:
  go-mod-tidy: any of: go.*
  golangci-lint: any of: .*go
  markdown-lint: any of: .*md
