Repository CosmosContracts/juno: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, golangci-lint, markdown-lint

go-mod-tidy:
  name: go mod tidy
  entry: ./scripts/git/tidy.sh
  language: script

golangci-lint:
  name: lint
  entry: ./scripts/git/linter.sh
  require_serial: true
  language: script

markdown-lint:
  name: markdown linter
  entry: ./scripts/git/markdown_lint.sh
  require_serial: true
  language: script

update mint module
  api/juno/mint/v1/genesis.pulsar.go
  api/juno/mint/v1/mint.pulsar.go
  api/juno/mint/v1/query.pulsar.go
  api/juno/mint/v1/query_grpc.pb.go
  api/juno/mint/v1/tx.pulsar.go
  api/juno/mint/v1/tx_grpc.pb.go
  proto/juno/mint/v1/genesis.proto
  proto/juno/mint/v1/mint.proto
  proto/juno/mint/v1/query.proto
  proto/juno/mint/v1/tx.proto
  x/mint/keeper/grpc_query.go
  x/mint/keeper/grpc_query_test.go
  x/mint/module/autocli.go
  x/mint/types/genesis.pb.go
  x/mint/types/mint.pb.go
  x/mint/types/query.pb.go
  x/mint/types/query.pb.gw.go
  x/mint/types/tx.pb.go
Due: go-mod-tidy, golangci-lint

update burn module
  x/burn/burner.go
Due: go-mod-tidy, golangci-lint

updated cw-hooks module
  app/keepers/keepers.go
  x/clock/module/autocli.go
  x/cw-hooks/client/cli/query.go
  x/cw-hooks/client/cli/tx.go
  x/cw-hooks/genesis.go
  x/cw-hooks/keeper/contracts.go
  x/cw-hooks/keeper/genesis.go
  x/cw-hooks/keeper/gov_hooks.go
  x/cw-hooks/keeper/grpc_query.go
  x/cw-hooks/keeper/grpc_query_test.go
  x/cw-hooks/keeper/keeper.go
  x/cw-hooks/keeper/keeper_test.go
  x/cw-hooks/keeper/msg_server.go
  x/cw-hooks/keeper/msg_server_test.go
  x/cw-hooks/keeper/params.go
  x/cw-hooks/keeper/querier.go
  x/cw-hooks/keeper/staking_hook_types.go
  x/cw-hooks/keeper/staking_hooks.go
  x/cw-hooks/keeper/testdata/README.md
  x/cw-hooks/keeper/testdata/juno_staking_hooks_example.wasm
  x/cw-hooks/module.go
  x/cw-hooks/module/autocli.go
  x/cw-hooks/module/module.go
  x/cw-hooks/types/codec.go
  x/cw-hooks/types/genesis.go
  x/cw-hooks/types/keys.go
  x/cw-hooks/types/msgs.go
Due: go-mod-tidy, golangci-lint, markdown-lint

updated cw-hooks module
  x/cw-hooks/types/codec.go
Due: go-mod-tidy, golangci-lint

updated drip module
  x/cw-hooks/keeper/params.go
  x/drip/client/cli/query.go
  x/drip/client/cli/tx.go
  x/drip/keeper/genesis.go
  x/drip/keeper/genesis_test.go
  x/drip/keeper/grpc_query.go
  x/drip/keeper/grpc_query_test.go
  x/drip/keeper/keeper.go
  x/drip/keeper/keeper_test.go
  x/drip/keeper/msg_server.go
  x/drip/keeper/msg_server_test.go
  x/drip/keeper/params.go
  x/drip/module.go
  x/drip/module/autocli.go
  x/drip/module/module.go
  x/drip/types/codec.go
  x/drip/types/expected_keepers.go
  x/drip/types/keys.go
  x/drip/types/msg.go
  x/drip/types/msg_test.go
Due: go-mod-tidy, golangci-lint

update feepay module
  proto/gaia/globalfee/v1beta1/genesis.proto
  proto/juno/feepay/v1/tx.proto
  x/drip/module/autocli.go
  x/feepay/ante/deduct_fee.go
  x/feepay/ante/fee_route.go
  x/feepay/client/cli/query.go
  x/feepay/client/cli/tx.go
  x/feepay/genesis_test.go
  x/feepay/helpers/fee_pay_tx_validator.go
  x/feepay/keeper/feepay.go
  x/feepay/keeper/genesis.go
  x/feepay/keeper/genesis_test.go
  x/feepay/keeper/grpc_query.go
  x/feepay/keeper/grpc_query_test.go
  x/feepay/keeper/keeper.go
  x/feepay/keeper/keeper_test.go
  x/feepay/keeper/msg_server.go
  x/feepay/keeper/msg_server_test.go
  x/feepay/keeper/params.go
  x/feepay/module.go
  x/feepay/module/autocli.go
  x/feepay/module/module.go
  x/feepay/types/codec.go
  x/feepay/types/keys.go
  x/feepay/types/msg.go
  x/feepay/types/params.go
  x/feepay/types/tx.pb.go
  x/globalfee/types/genesis.pb.go
Due: go-mod-tidy, golangci-lint

updated globalfee module
  api/gaia/globalfee/v1beta1/genesis.pulsar.go
  api/gaia/globalfee/v1beta1/query.pulsar.go
  api/juno/feepay/v1/tx.pulsar.go
  gaia/globalfee/module/v1/module.pb.go
  juno/clock/module/v1/module.pb.go
  juno/cwhooks/module/v1/module.pb.go
  juno/drip/module/v1/module.pb.go
  juno/feepay/module/v1/module.pb.go
  juno/feeshare/module/v1/module.pb.go
  juno/mint/module/v1/module.pb.go
  osmosis/tokenfactory/module/v1/module.pb.go
  proto/gaia/globalfee/v1beta1/query.proto
  x/globalfee/README.md
  x/globalfee/alias.go
  x/globalfee/ante/fee.go
  x/globalfee/ante/fee_utils_test.go
  x/globalfee/client/cli/query.go
  x/globalfee/genesis_test.go
  x/globalfee/keeper/exported/exported.go
  x/globalfee/keeper/grpc_query.go
  x/globalfee/keeper/keeper.go
  x/globalfee/keeper/migrator.go
  x/globalfee/keeper/msg_server.go
  x/globalfee/keeper/params.go
  x/globalfee/migrations/v2/migrate.go
  x/globalfee/migrations/v2/migrator_test.go
  x/globalfee/module/autocli.go
  x/globalfee/module/module.go
  x/globalfee/querier.go
  x/globalfee/querier_test.go
  x/globalfee/types/codec.go
  x/globalfee/types/keys.go
  x/globalfee/types/msgs.go
  x/globalfee/types/params.go
  x/globalfee/types/params_legacy.go
  x/globalfee/types/params_test.go
  x/globalfee/types/query.pb.go
Due: go-mod-tidy, golangci-lint, markdown-lint

updated feeshare module
  x/feepay/keeper/keeper.go
  x/feeshare/ante/ante.go
  x/feeshare/ante/ante_test.go
  x/feeshare/ante/expected_keepers.go
  x/feeshare/client/cli/query.go
  x/feeshare/client/cli/tx.go
  x/feeshare/exported/exported.go
  x/feeshare/genesis_test.go
  x/feeshare/integration_test.go
  x/feeshare/keeper/feeshare.go
  x/feeshare/keeper/genesis.go
  x/feeshare/keeper/genesis_test.go
  x/feeshare/keeper/grpc_query.go
  x/feeshare/keeper/grpc_query_test.go
  x/feeshare/keeper/keeper.go
  x/feeshare/keeper/keeper_test.go
  x/feeshare/keeper/migrator.go
  x/feeshare/keeper/msg_server_test.go
  x/feeshare/keeper/params.go
  x/feeshare/migrations/v2/migrate.go
  x/feeshare/migrations/v2/migrate_test.go
  x/feeshare/module.go
  x/feeshare/module/autocli.go
  x/feeshare/module/module.go
  x/feeshare/types/codec.go
  x/feeshare/types/expected_keepers.go
  x/feeshare/types/keys.go
  x/feeshare/types/msg.go
  x/feeshare/types/msg_test.go
  x/feeshare/types/params.go
  x/feeshare/types/params_legacy.go
  x/feeshare/types/params_legacy_test.go
  x/feeshare/types/params_test.go
Due: go-mod-tidy, golangci-lint

update tokenfactory module
  x/feeshare/module/module.go
  x/tokenfactory/bindings/custom_msg_test.go
  x/tokenfactory/bindings/helpers_test.go
  x/tokenfactory/bindings/message_plugin.go
  x/tokenfactory/bindings/query_plugin.go
  x/tokenfactory/bindings/validate_msg_test.go
  x/tokenfactory/client/cli/query.go
  x/tokenfactory/client/cli/tx.go
  x/tokenfactory/keeper/admins.go
  x/tokenfactory/keeper/bankactions.go
  x/tokenfactory/keeper/createdenom.go
  x/tokenfactory/keeper/creators.go
  x/tokenfactory/keeper/grpc_query.go
  x/tokenfactory/keeper/keeper.go
  x/tokenfactory/keeper/msg_server.go
  x/tokenfactory/keeper/params.go
  x/tokenfactory/migrations/v2/migrate.go
  x/tokenfactory/module.go
  x/tokenfactory/module/autocli.go
  x/tokenfactory/module/module.go
  x/tokenfactory/simulation/genesis.go
  x/tokenfactory/simulation/operations.go
  x/tokenfactory/testhelpers/authz.go
  x/tokenfactory/types/authorityMetadata.pb.go
  x/tokenfactory/types/authority_metadata.go
  x/tokenfactory/types/codec.go
  x/tokenfactory/types/codec_test.go
  x/tokenfactory/types/expected_keepers.go
  x/tokenfactory/types/keys.go
  x/tokenfactory/types/msgs.go
  x/tokenfactory/types/msgs_test.go
  x/tokenfactory/types/params_legacy.go
Due: go-mod-tidy, golangci-lint

converted modules from StoreKey to KVStoreService
  x/clock/keeper/abci_test.go
  x/clock/keeper/clock.go
  x/clock/keeper/keeper.go
  x/cw-hooks/keeper/contracts.go
  x/cw-hooks/keeper/keeper.go
  x/feepay/keeper/feepay.go
  x/feepay/keeper/keeper.go
  x/feeshare/keeper/feeshare.go
  x/feeshare/keeper/grpc_query.go
  x/feeshare/keeper/keeper.go
Due: go-mod-tidy, golangci-lint

clean up
  app/keepers/keepers.go
  app/keepers/wasm_config.go
  app/modules.go
  gaia/globalfee/module/v1/module.pb.go
  go.mod
  juno/clock/module/v1/module.pb.go
  juno/cwhooks/module/v1/module.pb.go
  juno/drip/module/v1/module.pb.go
  juno/feepay/module/v1/module.pb.go
  juno/feeshare/module/v1/module.pb.go
  juno/mint/module/v1/module.pb.go
  osmosis/tokenfactory/module/v1/module.pb.go
  proto/gaia/globalfee/v1beta1/query.proto
  x/feepay/ante/fee_route.go
Due: go-mod-tidy, golangci-lint

fixed autocli for all modules
  app/app.go
  app/keepers/keepers.go
  cmd/junod/cmd/root.go
  go.mod
  go.sum
  scripts/mockgen.sh
  scripts/test_node.sh
  testutil/events.go
  x/cw-hooks/module/autocli.go
  x/feepay/module/autocli.go
  x/feeshare/module/autocli.go
Due: go-mod-tidy, golangci-lint, markdown-lint

fixed up genesis
  scripts/test_node.sh
  x/clock/keeper/abci_test.go
  x/tokenfactory/keeper/keeper.go
Due: go-mod-tidy, golangci-lint

fixed change rate decorator tests
  app/decorators/change_rate_decorator_test.go
  x/mint/module/debug_container.dot
  x/mint/module/debug_container.log
Due: go-mod-tidy, golangci-lint

remove 08-wasm light client & clean up tests
  app/app.go
  app/decorators/change_rate_decorator_test.go
  app/keepers/keepers.go
  app/keepers/keys.go
  app/modules.go
  app/upgrades/v27/constants.go
  app/upgrades/v27/upgrades.go
  cmd/junod/cmd/commands.go
  cmd/junod/cmd/root.go
  testutil/events.go
  testutil/test_helpers.go
  testutil/test_suite.go
  x/clock/keeper/abci_test.go
  x/clock/keeper/genesis_test.go
  x/clock/keeper/grpc_query_test.go
  x/clock/keeper/keeper_test.go
  x/clock/keeper/msg_server_test.go
  x/cw-hooks/keeper/keeper_test.go
  x/cw-hooks/keeper/msg_server.go
  x/cw-hooks/keeper/msg_server_test.go
  x/drip/keeper/keeper_test.go
  x/feepay/keeper/keeper_test.go
  x/feeshare/ante/ante_test.go
  x/feeshare/keeper/keeper_test.go
  x/mint/module/debug_container.dot
  x/mint/module/debug_container.log
  x/mint/module/module_test.go
  x/tokenfactory/bindings/helpers_test.go
Due: go-mod-tidy, golangci-lint, markdown-lint

fully removed 08-wasm light client
  app/app.go
  app/keepers/keepers.go
Due: go-mod-tidy, golangci-lint

update update upload-artifact action
  .github/workflows/interchaintest-E2E.yml
Due: none

lint
  app/upgrades/v13/upgrades.go
  app/upgrades/v16/upgrades.go
Due: go-mod-tidy, golangci-lint

spellcheck
  .github/workflows/interchaintest-E2E.yml
  .github/workflows/spell-check-ignore.txt
Due: none

typo
  app/upgrades/v27/upgrade_test.go
Due: go-mod-tidy, golangci-lint

fixed feeshare and mint tests
  x/feeshare/keeper/genesis_test.go
  x/mint/keeper/genesis_test.go
  x/mint/keeper/grpc_query_test.go
Due: go-mod-tidy, golangci-lint

fixed feeshare ante test
  x/feeshare/ante/ante_test.go
Due: go-mod-tidy, golangci-lint

moved wasm bindings to their own directory and fixed tests
  app/keepers/keepers.go
  wasmbindings/message_plugin.go
  wasmbindings/queries.go
  wasmbindings/query_plugin.go
  wasmbindings/test/custom_msg_test.go
  wasmbindings/test/custom_query_test.go
  wasmbindings/test/helpers_test.go
  wasmbindings/test/messages_test.go
  wasmbindings/test/queries_test.go
  wasmbindings/test/testdata/README.md
  wasmbindings/test/testdata/token_reflect.wasm
  wasmbindings/types/msg.go
  wasmbindings/types/query.go
  wasmbindings/types/types.go
  wasmbindings/wasm.go
  x/tokenfactory/bindings/custom_msg_test.go
  x/tokenfactory/bindings/custom_query_test.go
  x/tokenfactory/bindings/helpers_test.go
Due: go-mod-tidy, golangci-lint, markdown-lint

readded tokenfactory tests
  testutil/testutil.go
  x/tokenfactory/keeper/admins_test.go
  x/tokenfactory/keeper/createdenom_test.go
  x/tokenfactory/keeper/genesis_test.go
  x/tokenfactory/keeper/keeper_test.go
  x/tokenfactory/keeper/msg_server_test.go
  x/tokenfactory/module/autocli.go
Due: go-mod-tidy, golangci-lint

updated deps of interchaintest wip
  interchaintest/chain_start_test.go
  interchaintest/chain_upgrade_test.go
  interchaintest/conformance/cosmwasm.go
  interchaintest/contract_unity_deploy_test.go
  interchaintest/go.mod
  interchaintest/go.sum
  interchaintest/helpers/authz.go
  interchaintest/helpers/clock.go
  interchaintest/helpers/cosmwasm.go
  interchaintest/helpers/cwhooks.go
  interchaintest/helpers/drip.go
  interchaintest/helpers/feepay.go
  interchaintest/helpers/feeshare.go
  interchaintest/helpers/gov.go
  interchaintest/helpers/ibchooks.go
  interchaintest/helpers/query_helpers.go
  interchaintest/helpers/staking.go
  interchaintest/helpers/tokenfactory.go
  interchaintest/ibc_transfer_test.go
  interchaintest/module_burn_test.go
  interchaintest/module_clock_test.go
  interchaintest/module_cwhooks_test.go
  interchaintest/module_drip_test.go
  interchaintest/module_feepay_test.go
  interchaintest/module_feeshare_test.go
  interchaintest/module_globalfee_test.go
  interchaintest/module_ibchooks_test.go
  interchaintest/module_pfm_test.go
  interchaintest/module_pob_test.go.archive
  interchaintest/module_tokenfactory_test.go
  interchaintest/setup.go
  interchaintest/state_sync_test.go
Due: go-mod-tidy, golangci-lint

cleaned up makefile and repo
  .dockerignore
  .gitpod.yml
  .pre-commit-config.yaml
  Dockerfile
  Makefile
  chains.yaml
  contrib/devtools/Dockerfile
  contrib/devtools/Makefile
  contrib/devtools/README.md
Due: markdown-lint

ran formatter
  Makefile
  interchaintest/chain_upgrade_test.go
  interchaintest/helpers/clock.go
  interchaintest/helpers/cwhooks.go
  interchaintest/helpers/drip.go
  interchaintest/helpers/query_helpers.go
  interchaintest/helpers/staking.go
  interchaintest/ibc_transfer_test.go
  interchaintest/module_globalfee_test.go
  x/tokenfactory/types/msgs.go
Due: go-mod-tidy, golangci-lint

move MakeEncodingConfig, soon deprecated
  app/params/proto.go
  x/mint/simulation/decoder_test.go
Due: go-mod-tidy, golangci-lint

minor fixes
  Makefile
  proto/buf.lock
  x/globalfee/types/query.pb.go
Due: go-mod-tidy, golangci-lint

fix heighliner install
  Makefile
Due: none

fixed and improved heighliner implementation
  .gitignore
  Makefile
  chains.yaml
  scripts/heighliner/pre_build.sh
Due: none

fixed double cmd entries
  Makefile
  cmd/junod/cmd/commands.go
  cmd/junod/cmd/config.go
  cmd/junod/cmd/debug.go
  cmd/junod/cmd/resets.go
  cmd/junod/cmd/root.go
  go.mod
  scripts/test_node.sh
Due: go-mod-tidy, golangci-lint, markdown-lint

readded tx flags to each module, removed unnecessary --from flags from ic-test
  interchaintest/helpers/authz.go
  interchaintest/helpers/clock.go
  interchaintest/helpers/cwhooks.go
  interchaintest/helpers/drip.go
  interchaintest/helpers/feepay.go
  interchaintest/helpers/feeshare.go
  interchaintest/helpers/tokenfactory.go
  x/clock/module/autocli.go
  x/cw-hooks/module/autocli.go
  x/drip/module/autocli.go
  x/feepay/module/autocli.go
  x/feeshare/module/autocli.go
  x/globalfee/module/autocli.go
  x/mint/module/autocli.go
  x/tokenfactory/module/autocli.go
Due: go-mod-tidy, golangci-lint

regenerated api
  api/gaia/globalfee/v1beta1/genesis.pulsar.go
  api/gaia/globalfee/v1beta1/query.pulsar.go
  api/gaia/globalfee/v1beta1/tx.pulsar.go
  api/juno/clock/v1/genesis.pulsar.go
  api/juno/clock/v1/query.pulsar.go
  api/juno/clock/v1/tx.pulsar.go
  api/juno/cwhooks/v1/genesis.pulsar.go
  api/juno/cwhooks/v1/query.pulsar.go
  api/juno/cwhooks/v1/tx.pulsar.go
  api/juno/drip/v1/genesis.pulsar.go
  api/juno/drip/v1/tx.pulsar.go
  api/juno/feepay/v1/query.pulsar.go
  api/juno/feepay/v1/tx.pulsar.go
  api/juno/feeshare/v1/feeshare.pulsar.go
  api/juno/feeshare/v1/genesis.pulsar.go
  api/juno/feeshare/v1/query.pulsar.go
  api/juno/feeshare/v1/tx.pulsar.go
  api/juno/mint/v1/mint.pulsar.go
  api/juno/mint/v1/query.pulsar.go
  api/juno/mint/v1/tx.pulsar.go
  api/osmosis/tokenfactory/v1beta1/authority_metadata.pulsar.go
  api/osmosis/tokenfactory/v1beta1/genesis.pulsar.go
  api/osmosis/tokenfactory/v1beta1/params.pulsar.go
  api/osmosis/tokenfactory/v1beta1/query.pulsar.go
  api/osmosis/tokenfactory/v1beta1/tx.pulsar.go
  interchaintest/helpers/__debug_bin3555598571
  interchaintest/helpers/cwhooks.go
Due: go-mod-tidy, golangci-lint

Path conditions:
  go-mod-tidy: any of: go.*
  golangci-lint: any of: .*go
  markdown-lint: any of: .*md
