Repository CosmosContracts/juno: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, golangci-lint, markdown-lint

.pre-commit-config.yaml:

# Install:
# - pip install pre-commit && pre-commit install
#
# VSCode Extension:
# - ext install MarkLarah.pre-commit-vscode
#
# On new hooks added here:
# - pre-commit run --all-files

repos:
- repo: local  
  hooks:    
    - id: go-mod-tidy
      name: "go mod tidy"
      files: go.*
      entry: ./scripts/git/tidy.sh
      language: "script"

    - id: golangci-lint
      name: "lint"
      files: .*go
      entry: ./scripts/git/linter.sh
      require_serial: true
      language: "script"

    - id: markdown-lint
      name: "markdown linter"
      files: .*md
      entry: ./scripts/git/markdown_lint.sh
      require_serial: true
      language: "script"

Fix setup.go from merge
  interchaintest/setup.go
Due: go-mod-tidy, golangci-lint

Use proper img version in CreateChainWithCustomConfig
  interchaintest/module_drip_test.go
  interchaintest/setup.go
Due: go-mod-tidy, golangci-lint

ci: move ictest to use archive.tar instead of ghcr (#788)
  .dockerignore
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/interchaintest-E2E.yml
  .github/workflows/make-cmd-runner.yml
  contrib/devtools/Dockerfile
  interchaintest/chain_upgrade_test.go
  interchaintest/go.mod
  interchaintest/module_drip_test.go
  interchaintest/setup.go
  proto/Dockerfile
Due: go-mod-tidy, golangci-lint, markdown-lint

Remove References to Params Module
  app/app.go
  app/keepers/keepers.go
  app/keepers/keys.go
  app/modules.go
  app/upgrades/v14/upgrades.go
  app/upgrades/v16/upgrades.go
Due: go-mod-tidy, golangci-lint

Increase gas bypass limit to 2m
  app/ante.go
Due: go-mod-tidy, golangci-lint

Add msgChannelOpen(Try|Confirm|Ack)
  app/app.go
Due: go-mod-tidy, golangci-lint

feat!: More global fee bypasses (#795)
  app/ante.go
  app/app.go
Due: go-mod-tidy, golangci-lint

ictest: cache deps on setup, cache Docker Image layers
  .github/workflows/interchaintest-E2E.yml
  Makefile
Due: none

base x/clock module (no test, e2e, or proper params)
  .pre-commit-config.yaml
  app/keepers/keepers.go
  app/keepers/keys.go
  app/modules.go
  app/upgrades/v17/constants.go
  app/upgrades/v17/upgrades.go
  interchaintest/contracts/README.md
  interchaintest/contracts/clock_example.wasm
  interchaintest/module_clock_test.go
  proto/juno/clock/v1/genesis.proto
  proto/juno/clock/v1/query.proto
  proto/juno/clock/v1/tx.proto
  scripts/git/markdown_lint.sh
  x/clock/README.md
  x/clock/abci.go
  x/clock/client/cli/query.go
  x/clock/keeper/keeper.go
  x/clock/keeper/msg_server.go
  x/clock/module.go
  x/clock/querier.go
  x/clock/types/codec.go
  x/clock/types/genesis.go
  x/clock/types/genesis.pb.go
  x/clock/types/keys.go
  x/clock/types/msgs.go
  x/clock/types/params.go
  x/clock/types/query.pb.go
  x/clock/types/query.pb.gw.go
  x/clock/types/tx.pb.go
Due: go-mod-tidy, golangci-lint, markdown-lint

finish cleanup
  proto/juno/clock/v1/genesis.proto
  proto/juno/clock/v1/query.proto
  proto/juno/clock/v1/tx.proto
  scripts/test_node.sh
  x/clock/abci.go
  x/clock/client/cli/query.go
  x/clock/keeper/keeper.go
  x/clock/querier.go
  x/clock/types/genesis.go
  x/clock/types/genesis.pb.go
  x/clock/types/keys.go
  x/clock/types/msgs.go
  x/clock/types/params.go
  x/clock/types/query.pb.go
  x/clock/types/query.pb.gw.go
  x/clock/types/tx.pb.go
Due: go-mod-tidy, golangci-lint

Fix params Route & Type, test everything
  x/clock/genesis.go
  x/clock/genesis_test.go
  x/clock/keeper/keeper_test.go
  x/clock/keeper/msg_server.go
  x/clock/keeper/msg_server_test.go
  x/clock/keeper/querier.go
  x/clock/keeper/querier_test.go
  x/clock/module.go
  x/clock/querier.go
  x/clock/types/codec_test.go
  x/clock/types/genesis.go
  x/clock/types/msgs.go
  x/clock/types/msgs_test.go
  x/clock/types/params.go
  x/clock/types/params_test.go
Due: go-mod-tidy, golangci-lint

Register MsgServer for UpdateParams
  x/clock/keeper/keeper_test.go
  x/clock/keeper/msg_server.go
  x/clock/module.go
  x/clock/types/codec.go
  x/clock/types/msgs.go
Due: go-mod-tidy, golangci-lint

e2e: ictest-clock
  .github/workflows/interchaintest-E2E.yml
  Makefile
  interchaintest/helpers/query_helpers.go
  interchaintest/helpers/types.go
  interchaintest/module_clock_test.go
  interchaintest/setup.go
  x/clock/types/msgs.go
Due: go-mod-tidy, golangci-lint

RegisterMsgServer for GlobalFee UpdateParams
  x/globalfee/module.go
  x/globalfee/types/codec.go
Due: go-mod-tidy, golangci-lint

Adds Clock Spec
  x/clock/README.md
  x/clock/spec/01_authorization.md
  x/clock/spec/02_integration.md
  x/clock/spec/README.md
Due: markdown-lint

Add example contract to Spec
  x/clock/spec/02_integration.md
Due: markdown-lint

safety: 1bn gas limit per endblock execute
  x/clock/abci.go
  x/clock/types/msgs.go
Due: go-mod-tidy, golangci-lint

Add a JunoBurn module/wasm plugin
  app/keepers/keepers.go
  x/burn/README.md
  x/burn/burner.go
  x/burn/constants.go
  x/mint/abci.go
  x/mint/keeper/keeper.go
  x/mint/types/expected_keepers.go
Due: go-mod-tidy, golangci-lint, markdown-lint

chore: rename to TokenFactoryMsg (match osmosis)
  x/tokenfactory/bindings/custom_msg_test.go
  x/tokenfactory/bindings/message_plugin.go
  x/tokenfactory/bindings/types/msg.go
Due: go-mod-tidy, golangci-lint

Simplify message checks vs nested
  x/tokenfactory/bindings/custom_msg_test.go
  x/tokenfactory/bindings/message_plugin.go
  x/tokenfactory/bindings/types/msg.go
Due: go-mod-tidy, golangci-lint

lint: Fix memory aliasing in for loop
  x/mint/simulation/genesis_test.go
  x/tokenfactory/keeper/admins_test.go
  x/tokenfactory/keeper/msg_server_test.go
Due: go-mod-tidy, golangci-lint

updated token-reflect contract
  x/tokenfactory/bindings/custom_msg_test.go
  x/tokenfactory/bindings/custom_query_test.go
  x/tokenfactory/bindings/query_plugin.go
  x/tokenfactory/bindings/testdata/README.md
  x/tokenfactory/bindings/testdata/download_releases.sh
  x/tokenfactory/bindings/testdata/token_reflect.wasm
  x/tokenfactory/bindings/testdata/version.txt
  x/tokenfactory/bindings/types/query.go
Due: go-mod-tidy, golangci-lint, markdown-lint

remove old comment
  x/tokenfactory/bindings/query_plugin.go
Due: go-mod-tidy, golangci-lint

Updated core contract (v0.11.0 bindings)
  interchaintest/contracts/tokenfactory_core.wasm
  interchaintest/module_tokenfactory_test.go
Due: go-mod-tidy, golangci-lint

WIP: Add LSM module (Needs upstream work)
  app/ante.go
  app/keepers/keepers.go
  app/modules.go
  cmd/junod/cmd/genica.go
  cmd/junod/cmd/root.go
  go.mod
  go.sum
  x/globalfee/ante/fee.go
Due: go-mod-tidy, golangci-lint, markdown-lint

latest I can take LSM module without forking WASMD and IBC
  app/keepers/keepers.go
  app/modules.go
  go.mod
  go.sum
Due: go-mod-tidy, golangci-lint

chore!: rename to TokenFactoryMsg (match osmosis) (#805)
  interchaintest/contracts/tokenfactory_core.wasm
  interchaintest/module_tokenfactory_test.go
  x/mint/simulation/genesis_test.go
  x/tokenfactory/bindings/custom_msg_test.go
  x/tokenfactory/bindings/custom_query_test.go
  x/tokenfactory/bindings/message_plugin.go
  x/tokenfactory/bindings/query_plugin.go
  x/tokenfactory/bindings/testdata/README.md
  x/tokenfactory/bindings/testdata/download_releases.sh
  x/tokenfactory/bindings/testdata/token_reflect.wasm
  x/tokenfactory/bindings/testdata/version.txt
  x/tokenfactory/bindings/types/msg.go
  x/tokenfactory/bindings/types/query.go
  x/tokenfactory/keeper/admins_test.go
  x/tokenfactory/keeper/msg_server_test.go
Due: go-mod-tidy, golangci-lint, markdown-lint

comments
  app/ante.go
  app/app.go
Due: go-mod-tidy, golangci-lint

decorator
  app/ante.go
  app/decorators/feeprepay_poc.go
Due: go-mod-tidy, golangci-lint

Base POC setup
  app/ante.go
  app/decorators/feeprepay_poc.go
Due: go-mod-tidy, golangci-lint

Query Params, set gas limit in params
  interchaintest/contracts/clock_example.wasm
  interchaintest/module_clock_test.go
  proto/juno/clock/v1/genesis.proto
  proto/juno/clock/v1/query.proto
  x/clock/abci.go
  x/clock/client/cli/query.go
  x/clock/genesis_test.go
  x/clock/keeper/msg_server_test.go
  x/clock/keeper/querier.go
  x/clock/keeper/querier_test.go
  x/clock/spec/02_integration.md
  x/clock/types/genesis.pb.go
  x/clock/types/msgs.go
  x/clock/types/params.go
  x/clock/types/params_test.go
  x/clock/types/query.pb.go
  x/clock/types/query.pb.gw.go
Due: go-mod-tidy, golangci-lint, markdown-lint

forced linting
  x/mint/simulation/genesis_test.go
  x/tokenfactory/keeper/admins_test.go
  x/tokenfactory/keeper/msg_server_test.go
Due: go-mod-tidy, golangci-lint

Rename to clock_end_block message
  interchaintest/contracts/clock_example.wasm
  x/clock/spec/02_integration.md
  x/clock/types/msgs.go
Due: go-mod-tidy, golangci-lint, markdown-lint

prettier fees failure output
  x/globalfee/ante/fee.go
Due: go-mod-tidy, golangci-lint

pretty fee subset
  x/globalfee/ante/fee.go
Due: go-mod-tidy, golangci-lint

no coins at all error message
  x/globalfee/ante/fee.go
Due: go-mod-tidy, golangci-lint

Prettier slice output. Show coins needed for fee
  x/globalfee/ante/fee.go
  x/globalfee/ante/fee_utils.go
Due: go-mod-tidy, golangci-lint

remove complex logic
  x/globalfee/ante/fee.go
Due: go-mod-tidy, golangci-lint

Prettier GlobalFee fees errors (#809)
  x/globalfee/ante/fee.go
  x/globalfee/ante/fee_utils.go
Due: go-mod-tidy, golangci-lint
