Repository CosmosContracts/juno: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, golangci-lint, markdown-lint

go-mod-tidy:
  name: go mod tidy
  entry: ./scripts/git/tidy.sh
  language: script

golangci-lint:
  name: lint
  entry: ./scripts/git/linter.sh
  require_serial: true
  language: script

markdown-lint:
  name: markdown linter
  entry: ./scripts/git/markdown_lint.sh
  require_serial: true
  language: script

lint
  app/upgrades/v13/upgrades.go
  app/upgrades/v16/upgrades.go
  app/upgrades/v19/upgrades.go
Due: go-mod-tidy, golangci-lint

Migrate to BankKeeper from BaseKeeper (#905)
  app/keepers/keepers.go
  x/feepay/keeper/keeper.go
  x/tokenfactory/bindings/message_plugin.go
  x/tokenfactory/bindings/queries.go
  x/tokenfactory/bindings/validate_msg_test.go
  x/tokenfactory/bindings/validate_queries_test.go
  x/tokenfactory/bindings/wasm.go
Due: go-mod-tidy, golangci-lint

Ensure Max Change Rate on Upgrade
  app/decorators/change_rate_decorator_test.go
  app/upgrades/v19/upgrade_test.go
  app/upgrades/v19/upgrades.go
Due: go-mod-tidy, golangci-lint

nits
  app/ante.go
  app/upgrades/v19/upgrades.go
Due: go-mod-tidy, golangci-lint

v19: Enforce Validator's Max 24 Hour Change Rate To 5% (#875)
  app/ante.go
  app/decorators/change_rate_decorator.go
  app/decorators/change_rate_decorator_test.go
  app/upgrades/v19/upgrade_test.go
  app/upgrades/v19/upgrades.go
Due: go-mod-tidy, golangci-lint

remove `SetupContractWithAdmin` and instead use extraFlags
  interchaintest/helpers/cosmwasm.go
  interchaintest/module_clock_test.go
Due: go-mod-tidy, golangci-lint

wait for 2 blocks in the Clock helpers (ictest thing)
  interchaintest/helpers/clock.go
  interchaintest/module_clock_test.go
Due: go-mod-tidy, golangci-lint

fix: updateParams contractGasLimit
  x/clock/types/msgs.go
  x/clock/types/msgs_test.go
Due: go-mod-tidy, golangci-lint

patch e2e no admin flag
  interchaintest/helpers/cosmwasm.go
Due: go-mod-tidy, golangci-lint

youtube base template
  app/keepers/keepers.go
  app/keepers/keys.go
  app/modules.go
  proto/juno/youtube/v1/content.proto
  proto/juno/youtube/v1/query.proto
  proto/juno/youtube/v1/tx.proto
  x/feepay/types/tx.pb.go
  x/feepay/types/tx.pb.gw.go
  x/youtube/client/cli/query.go
  x/youtube/genesis.go
  x/youtube/keeper/download.jpeg
  x/youtube/keeper/keeper.go
  x/youtube/keeper/keeper_test.go
  x/youtube/keeper/msg_server.go
  x/youtube/keeper/msg_server_test.go
  x/youtube/keeper/querier.go
  x/youtube/module.go
  x/youtube/types/codec.go
  x/youtube/types/content.pb.go
  x/youtube/types/keys.go
  x/youtube/types/msgs.go
  x/youtube/types/params.go
  x/youtube/types/params_test.go
  x/youtube/types/query.pb.go
  x/youtube/types/query.pb.gw.go
  x/youtube/types/tx.pb.go
Due: go-mod-tidy, golangci-lint

Extract Anon Func
  x/clock/abci.go
Due: go-mod-tidy, golangci-lint

typo 1
  x/mint/spec/02_state.md
Due: markdown-lint

typo fix
  x/drip/spec/02_distribute_tokens.md
Due: markdown-lint

typo fix
  x/mint/types/genesis.pb.go
Due: go-mod-tidy, golangci-lint

typo fix
  x/drip/spec/01_authorization.md
Due: markdown-lint

spell check CI (codespell)
  .codespellrc
  .github/workflows/ignore-words.txt
  .github/workflows/spell-check.yml
Due: none

fixes
  app/upgrades/types.go
  app/upgrades/v15/upgrades.go
  cmd/junod/cmd/config.go
  proto/juno/mint/genesis.proto
  proto/osmosis/tokenfactory/v1beta1/genesis.proto
  scripts/hermes/cw20/run.sh
  scripts/hermes/start.sh
  x/drip/spec/01_authorization.md
  x/drip/spec/02_distribute_tokens.md
  x/mint/spec/02_state.md
  x/mint/types/genesis.pb.go
  x/tokenfactory/README.md
  x/tokenfactory/keeper/admins_test.go
  x/tokenfactory/types/genesis.pb.go
Due: go-mod-tidy, golangci-lint, markdown-lint

only on PR
  .github/workflows/spell-check.yml
Due: none

spell-check-ignore.txt
  .codespellrc
  .github/workflows/spell-check-ignore.txt
Due: none

chore: spell check CI (#912)
  .codespellrc
  .github/workflows/spell-check-ignore.txt
  .github/workflows/spell-check.yml
  app/upgrades/types.go
  app/upgrades/v15/upgrades.go
  cmd/junod/cmd/config.go
  proto/juno/mint/genesis.proto
  proto/osmosis/tokenfactory/v1beta1/genesis.proto
  scripts/hermes/cw20/run.sh
  scripts/hermes/start.sh
  x/drip/spec/01_authorization.md
  x/drip/spec/02_distribute_tokens.md
  x/mint/spec/02_state.md
  x/mint/types/genesis.pb.go
  x/tokenfactory/README.md
  x/tokenfactory/keeper/admins_test.go
  x/tokenfactory/types/genesis.pb.go
Due: go-mod-tidy, golangci-lint, markdown-lint

test_node fix voting period
  scripts/test_node.sh
Due: none

cleanup testnode
  scripts/test_node.sh
Due: none

add basic /webhost
  app/app.go
  app/webhost/console.go
Due: go-mod-tidy, golangci-lint

cleanup
  app/webhost/_scripts.sh
  app/webhost/console.go
Due: go-mod-tidy, golangci-lint

tf modify-metadata use symbol w/ Metadata (#897)
  x/tokenfactory/client/cli/tx.go
Due: go-mod-tidy, golangci-lint

updated discord link
  RELEASES.md
Due: markdown-lint

updated discord link (#918)
  RELEASES.md
Due: markdown-lint

test_node fix voting period (#916)
  scripts/test_node.sh
Due: none

add wasm light client + comments to upstream doc changes
  app/app.go
  app/keepers/keepers.go
  app/keepers/keys.go
  app/modules.go
  app/upgrades/v19/upgrades.go
  go.mod
  go.sum
Due: go-mod-tidy, golangci-lint

lint & mod tidy
  app/app.go
  app/keepers/keepers.go
  app/keepers/keys.go
  app/modules.go
  app/upgrades/v19/upgrades.go
  interchaintest/go.mod
  interchaintest/go.sum
Due: go-mod-tidy, golangci-lint

cleanup comments
  app/app.go
  app/keepers/keepers.go
Due: go-mod-tidy, golangci-lint

Add `wasmlctypes.ModuleName` to upgrade
  app/upgrades/v19/constants.go
Due: go-mod-tidy, golangci-lint

gci
  .github/workflows/dependency-review.yml
  app/upgrades/v19/constants.go
Due: go-mod-tidy, golangci-lint

2x NewWasmSnapshotter & InitializePinnedCodes
  app/app.go
Due: go-mod-tidy, golangci-lint

[v19] 08-Wasm Light Client (#921)
  .github/workflows/dependency-review.yml
  app/app.go
  app/keepers/keepers.go
  app/keepers/keys.go
  app/modules.go
  app/upgrades/v19/constants.go
  app/upgrades/v19/upgrades.go
  go.mod
  go.sum
  interchaintest/go.mod
  interchaintest/go.sum
Due: go-mod-tidy, golangci-lint

Refactor Errors to Helper
  app/helpers/contracts.go
  app/helpers/global_errors.go
  x/clock/abci.go
  x/clock/keeper/clock.go
  x/clock/keeper/querier.go
  x/clock/types/errors.go
  x/clock/types/msgs.go
  x/cw-hooks/keeper/contracts.go
  x/feepay/keeper/feepay.go
  x/feepay/keeper/msg_server.go
  x/feepay/keeper/querier.go
  x/feepay/types/errors.go
Due: go-mod-tidy, golangci-lint

Rename Global Erorrs
  app/helpers/global_errors.go
Due: go-mod-tidy, golangci-lint

Test High Gas
  interchaintest/contracts/juno_staking_hooks_high_gas_example.wasm
  interchaintest/module_cwhooks_test.go
Due: go-mod-tidy, golangci-lint

Path conditions:
  go-mod-tidy: any of: go.*
  golangci-lint: any of: .*go
  markdown-lint: any of: .*md
