Repository CosmosContracts/juno: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, golangci-lint, markdown-lint

go-mod-tidy:
  name: go mod tidy
  entry: ./scripts/git/tidy.sh
  language: script

golangci-lint:
  name: lint
  entry: ./scripts/git/linter.sh
  require_serial: true
  language: script

markdown-lint:
  name: markdown linter
  entry: ./scripts/git/markdown_lint.sh
  require_serial: true
  language: script

bump interchain test deps
  interchaintest/go.mod
  interchaintest/go.sum
Due: go-mod-tidy, golangci-lint

Update readme.md
  readme.md
Due: markdown-lint

Fix typo Update readme.md
  readme.md
Due: markdown-lint

Update readme.md (#1057)
  readme.md
Due: markdown-lint

Migrate to compose v2
  .github/workflows/release.yml
Due: none

Migrate to compose v2 (#1059)
  .github/workflows/release.yml
Due: none

update wasmvm
  go.mod
  go.sum
Due: go-mod-tidy, golangci-lint

update upgrade test
  interchaintest/chain_upgrade_test.go
Due: go-mod-tidy, golangci-lint

ict juno version
  interchaintest/go.mod
  interchaintest/go.sum
Due: go-mod-tidy, golangci-lint

lint
  .golangci.yml
Due: go-mod-tidy, golangci-lint

lint
  app/upgrades/v13/upgrades.go
  app/upgrades/v16/upgrades.go
Due: go-mod-tidy, golangci-lint

Add kintsugi collaborator to codeowners
  .github/CODEOWNERS
Due: none

Add kintsugi collaborator to codeowners (#1069)
  .github/CODEOWNERS
Due: none

fix release binary copying
  .github/workflows/release.yml
Due: none

fix release binary copying (#1070)
  .github/CODEOWNERS
  .github/workflows/release.yml
Due: none

fix release binary copying (#1071)
  .github/workflows/release.yml
Due: none

Update README.md
  scripts/README.md
Due: markdown-lint

Try to start with docker compose
  .gitignore
  docker-compose.yml
  go.mod
  go.sum
  readme.md
Due: go-mod-tidy, golangci-lint, markdown-lint

Add doc for local build and test
  readme.md
Due: markdown-lint

Fix go.mod
  interchaintest/go.mod
Due: go-mod-tidy, golangci-lint

Fix mint command
  readme.md
  x/tokenfactory/client/cli/tx.go
Due: go-mod-tidy, golangci-lint, markdown-lint

Fix mint command and add smart contract
  readme.md
  smartcontracts/hello_world/Cargo.lock
  smartcontracts/hello_world/Cargo.toml
  smartcontracts/hello_world/artifacts/checksums.txt
  smartcontracts/hello_world/artifacts/hello_world.wasm
  smartcontracts/hello_world/src/lib.rs
  x/tokenfactory/client/cli/tx.go
Due: go-mod-tidy, golangci-lint, markdown-lint

Fix docs
  readme.md
Due: markdown-lint

upgrade to latest cosmos-sdk
  go.mod
  go.sum
Due: go-mod-tidy, golangci-lint

make lint happy
  app/app.go
Due: go-mod-tidy, golangci-lint

use a specific version for golangci-lint
  .github/workflows/golangci-lint.yml
Due: go-mod-tidy, golangci-lint

fix code Dockerfile
  Dockerfile
Due: none

Fixed capitalization and clarified directory reference. (#1075)
  readme.md
  scripts/README.md
Due: markdown-lint

chore: fix some comments (#1039)
  app/upgrades/v19/upgrades.go
  cmd/junod/cmd/balances_from_state_export.go
  cmd/junod/cmd/genica.go
Due: go-mod-tidy, golangci-lint, markdown-lint

fix e2e test
  interchaintest/chain_upgrade_test.go
  interchaintest/go.mod
  interchaintest/go.sum
Due: go-mod-tidy, golangci-lint

add mise-en-place & bump go version
  .mise.toml
  go.mod
Due: go-mod-tidy, golangci-lint

bump dependencies
  go.mod
  go.sum
Due: go-mod-tidy, golangci-lint

update wasmvm to v2
  app/app.go
  app/keepers/keepers.go
  interchaintest/go.mod
  x/tokenfactory/bindings/custom_msg_test.go
  x/tokenfactory/bindings/custom_query_test.go
  x/tokenfactory/bindings/message_plugin.go
  x/tokenfactory/bindings/query_plugin.go
  x/tokenfactory/bindings/types/types.go
Due: go-mod-tidy, golangci-lint

Path conditions:
  go-mod-tidy: any of: go.*
  golangci-lint: any of: .*go
  markdown-lint: any of: .*md
