Repository CosmosContracts/juno: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, golangci-lint, markdown-lint

go-mod-tidy:
  name: go mod tidy
  entry: ./scripts/git/tidy.sh
  language: script

golangci-lint:
  name: lint
  entry: ./scripts/git/linter.sh
  require_serial: true
  language: script

markdown-lint:
  name: markdown linter
  entry: ./scripts/git/markdown_lint.sh
  require_serial: true
  language: script

more ic-test fixes
  Makefile
  interchaintest/chain_upgrade_test.go
  interchaintest/conformance/cosmwasm.go
  interchaintest/helpers/__debug_bin3555598571
  interchaintest/helpers/authz.go
  interchaintest/helpers/clock.go
  interchaintest/helpers/cosmwasm.go
  interchaintest/helpers/cwhooks.go
  interchaintest/helpers/drip.go
  interchaintest/helpers/feepay.go
  interchaintest/helpers/feeshare.go
  interchaintest/helpers/ibchooks.go
  interchaintest/helpers/query_helpers.go
  interchaintest/helpers/staking.go
  interchaintest/helpers/tokenfactory.go
  interchaintest/ibc_transfer_test.go
  interchaintest/module_burn_test.go
  interchaintest/module_clock_test.go
  interchaintest/module_feeshare_test.go
  interchaintest/module_globalfee_test.go
  interchaintest/setup.go
Due: go-mod-tidy, golangci-lint

readded tm light client module
  app/modules.go
  interchaintest/chain_upgrade_test.go
  interchaintest/ibc_transfer_test.go
  interchaintest/module_ibchooks_test.go
  interchaintest/module_pfm_test.go
  interchaintest/setup.go
Due: go-mod-tidy, golangci-lint

fixed up nearly all tests
  app/app.go
  interchaintest/chain_upgrade_test.go
  interchaintest/helpers/authz.go
  interchaintest/module_globalfee_test.go
  interchaintest/module_pfm_test.go
  interchaintest/setup.go
  x/clock/spec/03_integration.md
Due: go-mod-tidy, golangci-lint, markdown-lint

temporarily disabled cw-hook test, e2e is passing anyway.
  interchaintest/chain_upgrade_test.go
  interchaintest/setup.go
  x/cw-hooks/keeper/msg_server_test.go
Due: go-mod-tidy, golangci-lint

updated github workflows
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/interchaintest-E2E.yml
  .github/workflows/push-docker-images.yml
  .github/workflows/spell-check-ignore.txt
Due: go-mod-tidy, golangci-lint

fix ibc-go params upgrade
  app/keepers/keepers.go
Due: go-mod-tidy, golangci-lint

refactor skip mev module balance transfer
  app/upgrades/v28/constants.go
  app/upgrades/v28/upgrades.go
Due: go-mod-tidy, golangci-lint

make spelling happy
  Makefile
  cmd/junod/cmd/debug.go
Due: go-mod-tidy, golangci-lint, markdown-lint

fix prebuild script
  scripts/heighliner/pre_build.sh
Due: none

fixed libwasmvm not found in docker build
  Dockerfile
Due: none

improved dockerfile
  Dockerfile
Due: none

fix clock test
  interchaintest/helpers/clock.go
Due: go-mod-tidy, golangci-lint

format and lint
  cmd/junod/cmd/debug.go
Due: go-mod-tidy, golangci-lint, markdown-lint

updated lint workflow
  .github/workflows/golangci-lint.yml
Due: go-mod-tidy, golangci-lint

fix clock test again?
  interchaintest/helpers/cosmwasm.go
Due: go-mod-tidy, golangci-lint

added Marius (vexxvakan) to code owners
  .github/CODEOWNERS
Due: none

remove panics from mint beginblocker
  x/mint/module/abci.go
Due: go-mod-tidy, golangci-lint

clean up
  x/tokenfactory/keeper/keeper.go
Due: go-mod-tidy, golangci-lint

updated github workflow actions
  .github/workflows/build.yml
  .github/workflows/build_docker.yml
  .github/workflows/codeql.yml
  .github/workflows/interchaintest-E2E.yml
  .github/workflows/push-docker-images.yml
  .github/workflows/release.yml
  .github/workflows/spell-check.yml
Due: none

bumped dependencies
  go.mod
  go.sum
Due: go-mod-tidy, golangci-lint

excluded api folder from codeQL workflow
  .github/workflows/codeql.yml
Due: none

minor swagger adjustment, seems broken
  app/app.go
Due: go-mod-tidy, golangci-lint

lint
  app/app.go
Due: go-mod-tidy, golangci-lint

tidy interchaintest
  interchaintest/go.mod
  interchaintest/go.sum
Due: go-mod-tidy, golangci-lint

improve codeql workflow
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
Due: none

Update dependabot from daily to weekly
  .github/dependabot.yml
Due: none

Update readme.md
  readme.md
Due: markdown-lint

revert accident wasmdir change
  app/keepers/keepers.go
Due: go-mod-tidy, golangci-lint

Path conditions:
  go-mod-tidy: any of: go.*
  golangci-lint: any of: .*go
  markdown-lint: any of: .*md
