Repository CosmosContracts/juno: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, golangci-lint, markdown-lint

.pre-commit-config.yaml:

# Install:
# - pip install pre-commit && pre-commit install
#
# VSCode Extension:
# - ext install MarkLarah.pre-commit-vscode
#
# On new hooks added here:
# - pre-commit run --all-files

repos:
- repo: local  
  hooks:    
    - id: go-mod-tidy
      name: "go mod tidy"
      files: go.*
      entry: ./scripts/git/tidy.sh
      language: "script"

    - id: golangci-lint
      name: "lint"
      files: .*go
      entry: ./scripts/git/linter.sh
      require_serial: true
      language: "script"

    - id: markdown-lint
      name: "markdown linter"
      files: .*md
      entry: ./scripts/git/markdown_lint.sh
      require_serial: true
      language: "script"

fix: typo run_junod.sh
  docker/run_junod.sh
Due: none

fix: typo run_junod.sh (#777)
  docker/run_junod.sh
Due: none

PFM, ICQ, and IBCHooks mainline tags
  app/keepers/keepers.go
  app/keepers/querier.go
  go.mod
  go.sum
Due: go-mod-tidy, golangci-lint

Minor cleaner logic
  x/feeshare/keeper/msg_server.go
Due: go-mod-tidy, golangci-lint

[v17] feat!: FeeShare allow DAODAO to register contracts (#758)
  interchaintest/module_feeshare_test.go
  x/feeshare/ante/ante.go
  x/feeshare/keeper/msg_server.go
  x/feeshare/keeper/msg_server_test.go
  x/feeshare/types/events.go
Due: go-mod-tidy, golangci-lint

Fix msg test & validate basic (+lint)
  x/drip/README.md
  x/drip/integration_test.go
  x/drip/keeper/keeper.go
  x/drip/keeper/msg_server.go
  x/drip/types/expected_keepers.go
  x/drip/types/msg.go
  x/drip/types/msg_test.go
  x/drip/types/params.go
Due: go-mod-tidy, golangci-lint, markdown-lint

test msg server + validate basic fix
  x/drip/keeper/msg_server.go
  x/drip/keeper/msg_server_test.go
  x/drip/types/msg.go
Due: go-mod-tidy, golangci-lint

Fix codec register test
  x/drip/types/codec_test.go
Due: go-mod-tidy, golangci-lint

Ensure querying the params module comes back as expected
  x/drip/keeper/grpc_query_test.go
Due: go-mod-tidy, golangci-lint

lintor
  x/drip/genesis_test.go
  x/drip/keeper/grpc_query_test.go
  x/drip/keeper/keeper_test.go
  x/drip/keeper/msg_server_test.go
  x/drip/module.go
  x/drip/types/codec_test.go
Due: go-mod-tidy, golangci-lint

Add params to test_node
  scripts/test_node.sh
Due: none

Cleanup minor nits
  x/drip/keeper/keeper.go
  x/drip/keeper/keeper_test.go
  x/drip/keeper/msg_server_test.go
  x/drip/types/msg.go
  x/drip/types/msg_test.go
Due: go-mod-tidy, golangci-lint

Register amino for authz if ever used
  x/drip/types/codec.go
Due: go-mod-tidy, golangci-lint

e2e: test drip module distribution
  .github/workflows/interchaintest-E2E.yml
  Makefile
  interchaintest/helpers/drip.go
  interchaintest/helpers/query_helpers.go
  interchaintest/helpers/staking.go
  interchaintest/module_drip_test.go
  interchaintest/setup.go
Due: go-mod-tidy, golangci-lint

Remove old FeeShare instances, cleanup minor
  app/keepers/keepers.go
  interchaintest/helpers/query_helpers.go
  proto/juno/drip/v1/query.proto
  proto/juno/drip/v1/tx.proto
  scripts/protocgen.sh
  x/drip/client/cli/query.go
  x/drip/client/cli/tx.go
  x/drip/keeper/keeper.go
  x/drip/keeper/msg_server.go
  x/drip/types/errors.go
  x/drip/types/events.go
  x/drip/types/expected_keepers.go
  x/drip/types/keys.go
  x/drip/types/query.pb.go
  x/drip/types/tx.pb.go
  x/feeshare/types/errors.go
  x/feeshare/types/events.go
  x/feeshare/types/expected_keepers.go
  x/feeshare/types/keys.go
  x/globalfee/types/query.pb.gw.go
  x/tokenfactory/types/msgs.go
Due: go-mod-tidy, golangci-lint

Remove unused AccountKeeper
  app/keepers/keepers.go
  x/drip/keeper/keeper.go
  x/drip/keeper/keeper_test.go
  x/drip/types/expected_keepers.go
Due: go-mod-tidy, golangci-lint

Final review cleanup, code should be good now
  x/drip/keeper/keeper_test.go
  x/drip/types/events.go
  x/drip/types/expected_keepers.go
Due: go-mod-tidy, golangci-lint

fix exports from zero height
  app/export.go
Due: go-mod-tidy, golangci-lint

v16: backport PR #785 export fix
  app/export.go
Due: go-mod-tidy, golangci-lint

v16: backport PR #785 export fix (#786)
  app/export.go
Due: go-mod-tidy, golangci-lint

PFM, ICQ, and IBCHooks mainline tags (#783)
  app/keepers/keepers.go
  app/keepers/querier.go
  go.mod
  go.sum
Due: go-mod-tidy, golangci-lint

fix exports from zero height (#785)
  app/export.go
Due: go-mod-tidy, golangci-lint

add basic docs
  x/drip/spec/01_authorization.md
  x/drip/spec/02_distribute_tokens.md
  x/drip/spec/03_example.md
  x/drip/spec/README.md
Due: markdown-lint

feat: move ictest to be a archive vs docker image
  .github/workflows/interchaintest-E2E.yml
  .github/workflows/make-cmd-runner.yml
Due: markdown-lint

remove highliner and perform manually
  .github/workflows/interchaintest-E2E.yml
Due: none

load as ${{ env.IMAGE_NAME }}
  .github/workflows/interchaintest-E2E.yml
Due: none

Use /tmp path
  .github/workflows/interchaintest-E2E.yml
Due: none

Cache go deps on go setup
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/interchaintest-E2E.yml
Due: go-mod-tidy, golangci-lint

Download go deps in parent
  .github/workflows/interchaintest-E2E.yml
Due: none

Go 1.20
  .dockerignore
  contrib/devtools/Dockerfile
  interchaintest/go.mod
  proto/Dockerfile
Due: go-mod-tidy, golangci-lint

rm old go commands
  .github/workflows/interchaintest-E2E.yml
Due: none

Go 1.20.7
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/interchaintest-E2E.yml
Due: go-mod-tidy, golangci-lint

Fix chain upgrade to use mainline docker img
  interchaintest/chain_upgrade_test.go
  interchaintest/setup.go
Due: go-mod-tidy, golangci-lint

Faster block times (3s) + test
  app/upgrades/v17/upgrades.go
  cmd/junod/cmd/root.go
  interchaintest/chain_upgrade_test.go
  interchaintest/helpers/mint.go
  interchaintest/helpers/slashing.go
Due: go-mod-tidy, golangci-lint, markdown-lint

Fix query pointer ref
  interchaintest/helpers/mint.go
  interchaintest/helpers/slashing.go
Due: go-mod-tidy, golangci-lint

Pull out Param types (since no `params` are shown in the queries anymore
  interchaintest/chain_upgrade_test.go
  interchaintest/helpers/mint.go
  interchaintest/helpers/slashing.go
Due: go-mod-tidy, golangci-lint

Change uint64 to string
  interchaintest/chain_upgrade_test.go
  interchaintest/helpers/mint.go
  interchaintest/helpers/slashing.go
Due: go-mod-tidy, golangci-lint

Move 3s block time check to go test
  app/upgrades/v17/upgrade_test.go
  interchaintest/chain_upgrade_test.go
  interchaintest/helpers/mint.go
  interchaintest/helpers/slashing.go
Due: go-mod-tidy, golangci-lint

Forced faster block times config
  cmd/junod/cmd/root.go
Due: go-mod-tidy, golangci-lint, markdown-lint
